﻿@model EditDepartmentViewModel

@{
    ViewBag.Title = "EditDepartment";
    Layout = Layout = NazeeranHospitalManagementConstants.LayoutNameConst.LayoutDashboardAdminPartial;
}

@if (Model.Errors != null && Model.Errors.Count > 0)
{
    foreach (var error in Model.Errors)
    {
        <div class="panel panel-danger">
            <ul class="list-unstyled">
                <li class="list-group-item-danger">@error</li>
            </ul>
        </div>
    }

    <div class="hidden" id="alertUser">
        <p id="header-message">Failed</p>
        <p id="main-message">An Error Occured While Updating Doctor Recrod..!!!</p>
        <p id="alert-type">warning</p>
        <p id="confirm-button-class">btn-warning</p>
    </div>
}

@if (Model.IsEditSuccessfully)
{
    <div class="hidden" id="alertUser">
        <p id="header-message">Updated</p>
        <p id="main-message">Department Recrod Is Updated Sussessfully...!!</p>
        <p id="alert-type">success</p>
        <p id="confirm-button-class">btn-success</p>
    </div>
}


@using (Html.BeginForm("EditDepartment", "Admin", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Details, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Details, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Details, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}
