﻿@model PagedList.IPagedList<Department>
@using PagedList.Mvc;

@{
    ViewBag.Title = "All Departments";
    Layout = NazeeranHospitalManagementConstants.LayoutNameConst.LayoutDashboardAdminPartial;
    Page.Title = "View All Departments";
}

<form method="get" action="@Url.Action("SearchMedidicne", "Medicine")" data-ppims-ajax="true" data-ppims-target="#prescribed-medicines-panel table tbody">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <div class="custom-search-input">
                    <div class="input-group">
                        <input type="text" id="ab12" name="Name" class="search-query form-control" placeholder="Search by Name" data-ppims-autocomplete="@Url.Action("SearchMedidicne", "Medicine")" />
                        <span class="input-group-btn">
                            <button type="submit" class="btn btn-default">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<table class="table table-striped table-bordered" cellspacing="0" width=20 id="departmentTable">
    <tr>
        <th class="hidden">@Html.AntiForgeryToken()</th>
        <th>Department Name!</th>
        <th>Department Details!</th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr data-department-id="@item.Id">
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Details)
            </td>
            <td>
                @Html.ActionLink("Edit", "FindDepartment", new { id = item.Id }, new { @class = "btn btn-info btn-sm" })
                @Html.ActionLink("Delete", "DeleteDepartment", new { id = item.Id }, new { @class = "btn btn-danger btn-sm DeleteDepartmentbtn" })
            </td>
        </tr>
    }

</table>


<br />
@Html.PagedListPager(Model, page => Url.Action("ViewAllDepartment", new { page }), PagedListRenderOptions.ClassicPlusFirstAndLast)
