﻿@model PagedList.PagedList<Appointment>

@using PagedList.Mvc;

@{
    Layout = NazeeranHospitalManagementConstants.LayoutNameConst.LayoutDashboardDoctorPartial;
    ViewBag.Title = "ViewSchedule";
    Page.Title = "View Schedule";
}

<div class="col-md-12">
    <div class="table-responsive">
        <table id="table" class="table table-striped table-bordered" cellspacing="0" width=20>
            <thead>
                <tr class="info">
                    <th>Patient Name</th>
                    <th>Date</th>
                    <th>Time</th>
                    <th>Status</th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Patient.User.Name)
                        </td>
                        <td>
                            @{ var Date = item.Date.Date.ToLongDateString(); }
                            @Html.DisplayFor(modelItem => Date)
                        </td>
                        <td>
                            @{ var time = DateTime.Today.Add(item.Time).ToString("hh:mm tt");}
                            @Html.DisplayFor(modelItem => time)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Status)
                        </td>
                        <td>
                            @Html.ActionLink("Details", "AppointmentDetail", new { id = item.Id }, new { @class = "btn btn-info btn-sm" })
                        </td>
                    </tr>
                }

            </tbody>

        </table>

    </div>

    <div>
        <br />
        <div class="col-md-6 pagination">Showing @Model.PageNumber of @Model.Count Page</div>
        <div class="col-md-6 right-pagination">@Html.PagedListPager(Model, page => Url.Action("ViewAllAppointments", new { page }), PagedListRenderOptions.ClassicPlusFirstAndLast)</div>
        <p class="clearfix"></p>
    </div>
</div>
