﻿
.pdsa-sn-wrapper {
    position: fixed;
    top: -1em;
    left: 0em;
    width: 20em;
    height: 130%;
    background-color: #005566;
    -moz-transition: left ease .25s;
    -o-transition: left ease .25s;
    -webkit-transition: left ease .25s;
    transition: left ease .25s;
}

    .pdsa-sn-wrapper ul {
        list-style: none;
        margin-top: 0em;
        margin-left: 0em;
        padding: 0em;
    }

        .pdsa-sn-wrapper ul li,
        .pdsa-sn-wrapper ul li ul li {
            margin-top: 0;
            margin-bottom: 0;
            padding: 4.5px;
            padding-left: 15px;
            border-bottom: 1px solid #0E656E;
            /*border-bottom-left-radius:inherit;*/
        }

            .pdsa-sn-wrapper ul li a,
            .pdsa-sn-wrapper ul li ul li a {
                color: whitesmoke;
                /*color: #999999;*/
                text-decoration: none;
                padding: .5em;
            }

                .pdsa-sn-wrapper ul li a span {
                    color: whitesmoke;
                    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
                    font-style: normal;
                    font-size: 0.95em;
                }

                .pdsa-sn-wrapper ul li a i {
                    color: whitesmoke;
                }

                .pdsa-sn-wrapper ul li a:hover,
                .pdsa-sn-wrapper ul li ul li a:hover {
                    text-decoration: none;
                }

            .pdsa-sn-wrapper ul li.ab:hover {
                background-color: #138093;
            }

            .pdsa-sn-wrapper ul li.ab .active {
                background-color: #138093;
            }

            .pdsa-sn-wrapper ul li ul li a:active {
                background-color: #138093;
            }



            .pdsa-sn-wrapper ul li.ab {
                padding-left: 25px;
            }
/*.pdsa-sn-wrapper ul li a:active,
        .pdsa-sn-wrapper ul li a:focus,
        .pdsa-sn-wrapper ul li ul li a:active,
        .pdsa-sn-wrapper ul li ul li a:focus {
          text-decoration: none;
          outline: none;
          color: white;
          
        }*/
/*---------For view Patient in centre  ----------------------------------------------------------------------------------------*/
.viewPatient_top {
    margin-left: 25em;
}

    .viewPatient_top h4 {
        margin-bottom: -1.5em;
        margin-left: 1.5em;
    }

/*----------------------------------for Patient view searching texbox -------------------------------------------------------------*/

.custom-search-input-view {
    /*margin-left : -10em;*/
}

/*---------For Display textbox and btn--------------------------------------------------------------------------------------------*/

.custom-search-input {
    margin-bottom: 2em;
}

#custom-search-input-1 {
    margin-top: -2.4em;
}

#custom-search-input-2 {
    /*margin-left : 54em;*/
    margin-top: -2.47em;
    margin-bottom: 2em;
}

#custom-search-input .search-query {
}

#custom-search-input button {
}

/*---------For view Patient textbox and btn--------------------------------------------------------------------------------*/

/*.input-group-btn {
     border-radius : 25px;
 }*/

.search-form {
    border: 1px solid;
    border-top-left-radius: 0;
    border-bottom-right-radius: 0;
    border-radius: 25px;
    margin-top: 1em;
    padding: 7px;
    margin-bottom: 3em;
    /*overflow : hidden;*/
}

.btn-round {
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 7em;
    margin-left: -10.5em;
    width: 7em;
    height: 2.5em;
    border-radius: 25px;
    background-color: #E2E2E2;
}

/*------------------------------for create Medicine  OR Add Medicine-----------------------------------------------------------------------*/

#form_Add {
    margin-left: 15em;
}

/*------------------------------for dash borad move---------------------------------------------------------------------------------------*/
#dashbord_set {
    margin-left: 1.5em;
}

/*------------------------------for Calendar move---------------------------------------------------------------------------------------*/
#calendar_set {
    margin-left: 1.7em;
}

/*----------------------------------------for logo -----------------------------------------------------------------------*/
.pdsa-sn-wrapper ul .pdsa-sn-brand {
    margin-left: -.5em;
    font-size: large;
    color: white;
}

    .pdsa-sn-wrapper ul .pdsa-sn-brand a {
        color: white;
    }

        .pdsa-sn-wrapper ul .pdsa-sn-brand a:hover {
            color: lightblue;
            background: none;
        }

.pdsa-sn-brand img {
    margin-left: -1px;
    margin-top: 12px;
    margin-bottom: 22px;
    padding: 0px;
    height: 80px;
}

.pdsa-sn-brand p {
    margin-left: 4.3em;
    margin-top: -3.7em;
    padding-bottom: 0.5em;
    color: whitesmoke;
    font-size: 1em;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-style: normal;
}
/*---------------------------------------- in table button ----------------------------------------------------------------*/
.btnTable {
    margin-top: 15px;
}
/*----------------------------------------for WellCome Pharmasict -------------------------------------------------------*/
.pdsa-sn-wrapper ul .pdsa-sn-brand1 {
    margin-left: -.5em;
    font-size: large;
    color: white;
    padding-bottom: 0.9em;
}

    .pdsa-sn-wrapper ul .pdsa-sn-brand1 img {
        margin-left: 12px;
        margin-top: 2px;
        margin-bottom: 0px;
        padding: 0px;
        height: 60px;
    }

    .pdsa-sn-wrapper ul .pdsa-sn-brand1 p {
        margin-left: 4.3em;
        margin-top: -45px;
        color: whitesmoke;
        font-size: 0.89em;
        font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
        font-style: normal;
    }

    .pdsa-sn-wrapper ul .pdsa-sn-brand1 a {
        color: white;
    }

        .pdsa-sn-wrapper ul .pdsa-sn-brand1 a:hover {
            color: lightblue;
            background: none;
        }

.pdsa-sn-brand1 {
    margin-top: -12em;
}

    .pdsa-sn-brand1 img {
        margin-left: 1.2px;
        margin-top: -15px;
        height: 70px;
    }

    .pdsa-sn-brand1 p {
        margin-left: 3.8em;
        margin-top: -2.7em;
        color: whitesmoke;
        font-size: 1em;
        font-family: Calibri;
        line-height: 0.9em;
    }

/* Style for 2nd level ----------------------------------------------------------------- */
.pdsa-sn-wrapper ul li ul {
    list-style: none;
    margin-top: 1em;
    margin-left: 1em;
}

.body-content {
    -o-transition: margin-left 0.3s linear;
    transition: margin-left 0.3s linear;
    -moz-transition: margin-left 0.3s linear;
    -webkit-transition: margin-left 0.3s linear;
}

.pdsa-sn-wrapper {
    -o-transition: left 0.3s linear;
    transition: left 0.3s linear;
    -moz-transition: left 0.3s linear;
    -webkit-transition: left 0.3s linear;
}

    /* Add <span> for sm, md, lg breakpoints ------------------------------------------*/
    .pdsa-sn-wrapper ul li a span {
        margin-top: -1em;
        margin-bottom: -1em;
        margin-left: 2em;
        padding-top: -1em;
        padding-bottom: -1em;
    }

    /* -------------------------------------for hide  first click-------------------------------------------------------------- */
    .pdsa-sn-wrapper.hide-sidebar {
        left: 0em;
        margin-top: -12.99em;
        height: 60em;
        width: 5em;
        -moz-transition: left ease .25s;
        -o-transition: left ease .25s;
        -webkit-transition: left ease .25s;
        transition: left ease .25s;
    }

    .pdsa-sn-wrapper ul li a i.hide-sidebar {
        padding-left: 0.5em;
        margin-top: 0em;
    }

.body-content.hide-sidebar {
    margin-left: 6em;
    -moz-transition: left ease .25s;
    -o-transition: left ease .25s;
    -webkit-transition: left ease .25s;
    transition: left ease .25s;
}

header.hide-sidebar {
    margin-left: 3.8em;
    -moz-transition: left ease .25s;
    -o-transition: left ease .25s;
    -webkit-transition: left ease .25s;
    transition: left ease .25s;
}

#sidebarToggle {
    background-color: #F8F8F8;
    border: 0px;
    display: inline-block;
    /*background-color:#005566;
    border:0px;
    top:-2.5em;
    margin-left:9em;
    display:inline-block;*/
}

.ab a i {
    margin-left: 0.2em;
    top: -5px;
}

.ab a span.hide-sidebar {
    /*----------------------------------for hide text first click -------------------------------------------*/
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}

/*----------------------------------for blinking in table in tr -----------------------------------------------------------------------*/
#redd {
    -moz-animation: blink 2s steps(0, start) 0;
    -o-animation: blink 2s steps(0, start) 0;
    animation: blink 2s steps(0, start) 0;
    -webkit-animation: blink .5s steps(500, start) 300;
    width: 100px;
    height: 100px;
}

#redd {
    color: red;
}

@-moz-keyframes blink {
    to {
        color: #990000;
    }
}

@keyframes blink {
    to {
        color: #990000;
    }
}

@-webkit-keyframes blink {
    to {
        color: #7f0000;
    }
}

/*----------------------------------for not  blinking in table in tr -----------------------------------------------------------------------*/
#redd11 {
    color: #ffcccc;
}

/*---------------------------------- admin dashboard ---------------------------------------------------------------------------*/
#admin_dash {
    background-color: #2A80B9;
}

#admin_footer {
    background-color: #2572A6;
}

#admin_dash1 {
    background-color: #E84C3D;
}

#admin_footer1 {
    background-color: #D04435;
}

/*--------------------samll screen ------------------------------------------------small screen  1077px---------------------------------------*/
@media all and (max-width: 1077px) {
    header a {
        margin-left: 0em;
    }

    .search-form {
        margin-left: -10em;
    }

    .viewPatient_top h4 {
        margin-left: -8em;
    }
}

/*--------------------samll screen ------------------------------------------------small screen 768px---------------------------------------*/
@media all and (max-width: 768px) {
    .pdsa-sn-wrapper {
        left: 0em;
        margin-top: -1.2em;
        height: 60em;
        width: 5em;
        -moz-transition: left ease .25s;
        -o-transition: left ease .25s;
        -webkit-transition: left ease .25s;
        transition: left ease .25s;
    }

        .pdsa-sn-wrapper ul li a i {
            padding-left: 0.5em;
            padding-top: 1em;
        }

    .ab a i {
        margin-left: .1em;
        top: 0px;
    }

    .body-content {
        margin-left: 6em;
    }

    header {
        margin-left: 3.8em;
    }

        header a {
            margin-left: 0em;
        }

    .hideMe {
        border: 3px solid #ff6a00;
    }

    .pdsa-sn-wrapper.hide-sidebar {
        /*left: -7em;*/
        left: -20em;
        margin-top: 1em;
        -moz-transition: left ease .25s;
        -o-transition: left ease .25s;
        -webkit-transition: left ease .25s;
        transition: left ease .25s;
    }

    header.hide-sidebar {
        margin-left: 0em;
        -moz-transition: left ease .25s;
        -o-transition: left ease .25s;
        -webkit-transition: left ease .25s;
        transition: left ease .25s;
    }

    .body-content.hide-sidebar {
        margin-left: 0.5em;
        -moz-transition: left ease .25s;
        -o-transition: left ease .25s;
        -webkit-transition: left ease .25s;
        transition: left ease .25s;
    }
}

/*--------------------samll screen ------------------------------------------------small screen 737px----------------------------------------*/
@media all and (max-width: 1077px) {
    header a {
        margin-left: 0em;
        font-size: 1.2em;
    }
}

/*--------------------samll screen ------------------------------------------------small screen 555px----------------------------------------*/
@media all and (max-width: 555px) {
    .body-content {
        margin-left: 7em;
    }

    #top_dash {
        margin-left: 0em;
    }

    #dash {
        margin-left: 0em;
    }

    #dashbord_set {
        margin-left: 0em;
    }

    .viewPatient_top h4 {
        margin-left: -11.3em;
    }

    .search-form {
        margin-left: -15em;
    }

    .btn-round {
        margin-left: 0em;
    }
}
