﻿/* ************************************** */
/* BEGIN: PDSA Summary Block Color Themes */
/* ************************************** */
.pdsa-summary-block-primary {
  color: #fff;
  background-color: #01C1EA;
}

  .pdsa-summary-block-primary .summary-footer {
    background-color: #01AED3;
  }

    .pdsa-summary-block-primary .summary-footer a {
      color: #fff;
    }

.pdsa-summary-block-success {
  color: #fff;
  background-color: #00A663;
}

  .pdsa-summary-block-success .summary-footer {
    background-color: #009558;
  }

    .pdsa-summary-block-success .summary-footer a {
      color: white;
    }

.pdsa-summary-block-danger {
  color: #fff;
  background-color: #a94442;
}

  .pdsa-summary-block-danger .summary-footer {
    background-color: red;
  }

    .pdsa-summary-block-danger .summary-footer a {
      color: white;
    }

.pdsa-summary-block-info {
  color: #fff;
  background-color: #F39B3A;
}

  .pdsa-summary-block-info .summary-footer {
    background-color: #DB8C34;
  }

    .pdsa-summary-block-info .summary-footer a {
      color: white;
    }
/* ************************************ */
/* END: PDSA Summary Block Color Themes */
/* ************************************ */

/* **************************************************** */
/* BEGIN: Summary Block Display                         */
/* The following styles are for a summary block display */
/* **************************************************** */

.pdsa-summary-block {
  position: relative;
  width: 100%;
  margin: 0.3em;
  padding: 1em;
  min-height: 15em;
}

  .pdsa-summary-block .summary-background i,
  .pdsa-summary-block .summary-background div {
    margin-left: 0.35em;
    margin-top: 0.1em;
    font-size: 8em;
    opacity: 0.3;
  }
  .summary-body #Searching_name_dash {
      margin-top : 3em;
  }

  .pdsa-summary-block .summary-body {
    position: absolute;
    top: 1.3em;
    right: 0.8em;
  }

    .pdsa-summary-block .summary-body .summary-line1 {
      text-align: right;
      font-size: xx-large;
    }

    .pdsa-summary-block .summary-body .summary-line2 {
      text-align: right;
      font-size: medium;
    }

  .pdsa-summary-block .summary-footer {
    position: absolute;
    bottom: 0em;
    right: 0em;
    width: 100%;
    padding: 0.4em;
    font-weight: 300;
    text-transform: uppercase;
    font-size: small;
    opacity: 0.75;
  }

    .pdsa-summary-block .summary-footer a {
      text-decoration: none;
    }

    .pdsa-summary-block .summary-footer:hover {
      opacity: 1;
      cursor: pointer;
    }
/* *************************** */
/* END: Summary Block Display  */
/* *************************** */
