﻿.container {
  width: 100%;
}
body{
    background-color:#fff;
    width: 100%;
}

.body-content {
  margin-left: 20em;
  margin-top: 1.2em;
  width: 79%;
}
.cont{
    margin-left:3em;
}

.quantity_box{
    width:2px;
    border:hidden;
}
.search-btn1{
    width : 70px;
}
#view_btn{
    width : 5em;
    margin-top : 1em;
    margin-left : 1.5em;
}
#top_name{
   font-size : 0.8em;
    margin-top : 1em;
    margin-left : 0.28em;
    overflow : hidden;
}
header {
  padding: .7em;
  background-color: #F8F8F8;
  color: #000;
  font-size: large;
  margin-left:15.5em;
  height:5.8em;
}

  header a {
    color: #000;
    text-decoration: none;
    margin-left : 11em;
    font-size : 1.5em;
    font-family : Calibri;
  }

    header a:hover {
        color: #000;
      text-decoration: none;
    }

#dash{
    font-size:1.7em;
    font-family : Calibri;
    margin-bottom:1em;
    margin-left : 0.2em;
}
#top_dash{
        font-size:1.7em;
        font-family : Calibri;
    margin-bottom:1em;
    margin-left : 0.2em;
    color : #818DA1;
}

.search-name{
    margin-bottom:1em;
    margin-left:3em;
}
.search-chemical{
    margin-bottom:1em;
    
}
.search-Manuf{
    margin-bottom:1em;
    margin-left:1em;
}
.search-btn{
    margin-top:1em;
    margin-bottom:1em;
    margin-left:10em;
}

.notransition * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  -ms-transition: none !important;
  transition: none !important;
}

/*-----------------------------------------------bill layout and billing header-----------------------------------------------------------------------------------*/
#bill_header header {
  padding: .7em;
  background-color: #F8F8F8;
  color: #000;
  font-size: large;
  margin-left:0em;
  height:5.8em;
  width : 1180px;
}

#bill_header header p{
    font-size : 1.2em;
    font-family : Calibri;
    margin-left : 19em;
    margin-top : 0.5em;
}
.body-content1{
    margin-top : 2em;
}
#bill_top_dash{
    height : 1em;
    margin-top : 1.5em;
    margin-bottom : 3em;
    margin-left : 0.2em; 
}
#bill_top_dash span{
    margin-left : 63em; 
}



 

