﻿@font-face {
    font-family: "Titillium Web";
    src: url(~/Titillium/Titillium-Regular.otf) format('truetype');
}

*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

div.form {
    font-family: 'Titillium Web', sans-serif;
    /*background: rgba(19, 35, 47, .9);*/
    background: #056;
    padding: 40px;
    max-width: 600px;
    margin: 40px auto;
    border-radius: 4px;
    box-shadow: 0 4px 10px 4px rgba(19, 35, 47, .3);
}

    div.form a {
        text-decoration: none;
        color: #1ab188;
        -webkit-transition: .5s ease;
        -moz-transition: .5s ease;
        -o-transition: .5s ease;
        transition: .5s ease;
    }

        div.form a:hover {
            color: #179b77;
        }

    div.form .tab-group {
        list-style: none;
        padding: 0;
        margin: 0 0 40px 0;
    }

        div.form .tab-group:after {
            content: "";
            display: table;
            clear: both;
        }

        div.form .tab-group li a {
            display: block;
            text-decoration: none;
            padding: 15px;
            background: rgba(160, 179, 176, .25);
            color: #a0b3b0;
            font-size: 20px;
            float: left;
            width: 50%;
            text-align: center;
            cursor: pointer;
            -webkit-transition: .5s ease;
            -moz-transition: .5s ease;
            -o-transition: .5s ease;
            transition: .5s ease;
        }

            div.form .tab-group li a:hover {
                background: #179b77;
                color: #fff;
            }

        div.form .tab-group .active a {
            background: #1ab188;
            color: #fff;
        }

    /*div.form .tab-content > div:last-child {
        display: none;
    }*/

    div.form h1 {
        text-align: center;
        color: #fff;
        font-weight: 300;
        margin: 0 0 40px;
    }

    div.form label {
        position: absolute;
        -webkit-transform: translateY(6px);
        -moz-transform: translateY(6px);
        -ms-transform: translateY(6px);
        -o-transform: translateY(6px);
        transform: translateY(6px);
        left: 13px;
        color: rgba(255, 255, 255, .5);
        -webkit-transition: all .25s ease;
        -moz-transition: all .25s ease;
        -o-transition: all .25s ease;
        transition: all .25s ease;
        -webkit-backface-visibility: hidden;
        -moz-backface-visibility: hidden;
        backface-visibility: hidden;
        pointer-events: none;
        font-size: 22px;
    }

        /*div.form label.active {
            -webkit-transform: translateY(50px);
            -moz-transform: translateY(50px);
            -ms-transform: translateY(50px);
            -o-transform: translateY(50px);
            transform: translateY(50px);
            left: 2px;
            font-size: 14px;
        }*/

        div.form label.active {
            -webkit-transform: translateY(-30px);
            -moz-transform: translateY(-30px);
            -ms-transform: translateY(-30px);
            -o-transform: translateY(-30px);
            transform: translateY(-30px);
            left: 2px;
            font-size: 14px;
        }

            div.form label.active .req {
                opacity: 0;
            }

        div.form label.highlight {
            color: #fff;
        }

    div.form input:not([type="checkbox"]),
    div.form textarea {
        font-size: 22px;
        display: block;
        width: 100%;
        height: 100%;
        padding: 5px 10px;
        background: none;
        background-image: none;
        border: 1px solid #a0b3b0;
        color: #fff;
        border-radius: 0;
        -webkit-transition: border-color .25s ease, box-shadow .25s ease;
        -moz-transition: border-color .25s ease, box-shadow .25s ease;
        -o-transition: border-color .25s ease, box-shadow .25s ease;
        transition: border-color .25s ease, box-shadow .25s ease;
    }

div.remeber-me input[type="checkbox"] {
    vertical-align: middle;
    margin-right: 1em;
}

div.remeber-me label {
    font-size: 1em;
    vertical-align: middle;
}

div.form input:focus,
div.form textarea:focus {
    outline: 0;
    border-color: #1ab188;
}

div.form textarea {
    border: 2px solid #a0b3b0;
    resize: vertical;
}

div.form .field-wrap {
    position: relative;
    margin-bottom: 40px;
}

    div.form .field-wrap span {
        color: #fff;
        font-family: 'Titillium Web';
        display: inline-block;
        vertical-align: middle;
    }

div.form .top-row:after {
    content: ""; 
    display: table;
    clear: both;
}

div.form .top-row > div {
    float: left;
    width: 48%;
    margin-right: 4%;
}


    div.form .top-row > div:last-child {
        margin: 0;
    }

div.form .button {
    border: 0;
    outline: none;
    border-radius: 0;
    padding: 15px 0;
    font-size: 2rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .1em;
    background: #1ab188;
    color: #fff;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
    -webkit-appearance: none;
}

    div.form .button:hover,
    div.form .button:focus {
        background: #179b77;
    }

div.form .button-block {
    display: block;
    width: 100%;
}

div.form .forgot {
    margin-top: -20px;
    text-align: right;
    margin-bottom: 3px;
}

.field-wrap .form-group {
    margin-left: 0;
    margin-right: 0;
}

div.form label .req, div.form span .req {
    margin: 2px;
    color: #1ab188;
}
