﻿.right-pagination ul.pagination {
    float: right !important;
}

.middle-align {
    display: block;
    margin-left: auto;
    margin-right: auto;
    float: none;
}

.min-top-padding {
    display: block;
    padding-top: 2.5em;
}


.min-top-margin {
    display: block;
    margin-top: 2.5em;
}

.min-botton-padding {
    padding-bottom: 2.5em;
}

.min-heigth-box {
    min-height: 500px;
}

.min-padding-all {
    padding: 2.5em 2em 1em .5em;
}

.min-bottom-margin {
    margin-bottom: 2em;
}

#accordion .glyphicon {
    margin-right: 10px;
}

.sidebar .panel-collapse > .list-group .list-group.item:first-child {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

.sidebar .panel-collapse > .list-group .list-group.item {
    border-width: 1px 0;
}

.sidebar .panel-collapse > .list-group {
    margin-bottom: 0;
}

.sidebar .panel-collapse list-group.item {
    border-radius: 0;
}

.sidebar .panel-collapse .list-group .list-group {
    margin: 0;
    margin-top: 10px;
}

.sidebar .panel-collapse .list-group.item li.list-group-item {
    margin: 0 -15px;
    border-top: 1px solid #ddd !important;
    border-bottom: 0;
    padding-left: 30px;
}

    .sidebar .panel-collapse .list-group.item li.list-group-item:last-child {
        padding-bottom: 0;
    }

.sidebar .panel-collapse div.list-group div.list-group {
    margin: 0;
}

    .sidebar .panel-collapse div.list-group div.list-group a.list-group-item {
        border-top: 1px solid #ddd !important;
        border-bottom: 0;
        padding-left: 30px;
    }

.sidebar .panel-collapse list-group-item li.list-group-item {
    border-top: 1px solid #ddd !important;
}

.sidebar .panel-heading .panel-title a {
    display: block;
    width: 100%;
}

.sidebar .intro-panel div[class*='col-md-'] {
    /*padding-left: -15px;
    padding-right: -15px;*/
}

/* ========================= .table-details ================= */
.table-details .panel-table .panel-body {
    padding: 0;
}

    .table-details .panel-table .panel-body .table-bordered {
        border-style: none;
        margin: 0;
    }

        .table-details .panel-table .panel-body .table-bordered > thead > tr > th.center {
            text-align: center;
            /*width: 100px;*/
        }

        .table-details .panel-table .panel-body .table-bordered > thead > tr > th:last-of-type,
        .table-details .panel-table .panel-body .table-bordered > tbody > tr > td:last-of-type {
            border-right: 0;
        }

        .table-details .panel-table .panel-body .table-bordered > thead > tr > th:first-of-type,
        .table-details .panel-table .panel-body .table-bordered > tbody > tr > td:first-of-type {
            border-left: 0;
        }

        .table-details .panel-table .panel-body .table-bordered > tbody > tr:first-of-type > td {
            border-bottom: 0;
            padding: 4px;
        }

        .table-details .panel-table .panel-body .table-bordered > thead > tr:first-of-type > th {
            border-top: 0;
        }

.table-details .panel-table .panel-footer .pagination {
    margin: 0;
}
/* ========================= // .table-details ================= */



/* ========================= .time-slot ================= */

.time-slot div.slot {
    display: inline-block;
    padding: 5px 6px 5px;
    width: 90px;
}

.time-slot div button:hover {
    background: #DAA520;
}

/* ========================= .time-slot ================= */

/*
used to vertically center elements, may need modification if you're not using default sizes.
*/
.panel-table .panel-footer .col {
    line-height: 34px;
    height: 34px;
}

.panel-table .panel-heading .col h3 {
    line-height: 30px;
    height: 30px;
}

.panel-table .panel-body .table-bordered > tbody > tr > td {
    line-height: 34px;
}

.shadow-box {
    box-shadow: 1px 1px 6px rgb(150, 148, 148);
    -webkit-box-shadow: 1px 1px 6px rgb(150, 148, 148);
    -moz-box-shadow: 1px 1px 6px rgb(150, 148, 148);
}


/*---------------------------------------------------- for body and header in  admin   -----------------------------------------------------------------*/
.container {
    width: 100%;
}

body {
    background-color: #fff;
    width: 100%;
}

.body-content {
    margin-left: 20em;
    margin-top: 1.2em;
    width: 79%;
}

.cont {
    margin-left: 3em;
}

.quantity_box {
    width: 2px;
    border: hidden;
}

.search-btn1 {
    width: 70px;
}

#view_btn {
    width: 5em;
    margin-top: 1em;
    margin-left: 1.5em;
}

#top_name {
    font-size: 0.8em;
    margin-top: 1em;
    margin-left: 0.28em;
    overflow: hidden;
}

header {
    padding: .7em;
    background-color: #F8F8F8;
    color: #000;
    font-size: large;
    margin-left: 15.5em;
    height: 5.8em;
}

    header a {
        color: #000;
        text-decoration: none;
        margin-left: 11em;
        font-size: 1.5em;
        font-family: Calibri;
    }

        header a:hover {
            color: #000;
            text-decoration: none;
        }

#dash {
    font-size: 1.7em;
    font-family: Calibri;
    margin-bottom: 1em;
    margin-left: 0.2em;
}

#top_dash {
    font-size: 1.7em;
    font-family: Calibri;
    margin-bottom: 1em;
    margin-left: 0.2em;
    color: #818DA1;
}

.search-name {
    margin-bottom: 1em;
    margin-left: 3em;
}

.search-chemical {
    margin-bottom: 1em;
}

.search-Manuf {
    margin-bottom: 1em;
    margin-left: 1em;
}

.search-btn {
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 10em;
}

.notransition * {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -o-transition: none !important;
    -ms-transition: none !important;
    transition: none !important;
}

/*-------------------------------------------------------------------get schedule header color-----------------------------------------------------------------*/
#schedule_header_color {
    background-color: #D9EDF7;
}

#schedule_header_btn {
    margin-top: 12px;
    float: right;
}


/* Sweep To Right */
.hvr-sweep-to-right {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    -webkit-transition-property: color;
    -moz-transition-property: color;
    -o-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

    .hvr-sweep-to-right:before {
        content: "";
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: #2098d1;
        -webkit-transform: scaleX(0);
        -moz-transform: scaleX(0);
        -ms-transform: scaleX(0);
        -o-transform: scaleX(0);
        transform: scaleX(0);
        -webkit-transform-origin: 0 50%;
        -moz-transform-origin: 0 50%;
        -ms-transform-origin: 0 50%;
        -o-transform-origin: 0 50%;
        transform-origin: 0 50%;
        -webkit-transition-property: transform;
        -moz-transition-property: transform;
        -o-transition-property: transform;
        transition-property: transform;
        -webkit-transition-duration: 0.3s;
        -moz-transition-duration: 0.3s;
        -o-transition-duration: 0.3s;
        transition-duration: 0.3s;
        -webkit-transition-timing-function: ease-out;
        -moz-transition-timing-function: ease-out;
        -o-transition-timing-function: ease-out;
        transition-timing-function: ease-out;
    }

    .hvr-sweep-to-right:hover, .hvr-sweep-to-right:focus, .hvr-sweep-to-right:active {
        color: white;
        background-color: #C0C0C0;
    }

        .hvr-sweep-to-right:hover:before, .hvr-sweep-to-right:focus:before, .hvr-sweep-to-right:active:before {
            -webkit-transform: scaleX(1);
            -moz-transform: scaleX(1);
            -ms-transform: scaleX(1);
            -o-transform: scaleX(1);
            transform: scaleX(1);
        }


ul.sub-menu {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
    background: #fff;
    position: absolute;
    z-index: 9999;
    left: -999em;
}

ul.sub-menu li {
    display: block;
    margin-left: 0;
    margin-right: 0;
    padding: .5em .5em .2em .7em;
    margin-bottom: .5em;
}

ul.sub-menu li:first-of-type {
    margin-top: 0;
    padding-top: 0;
}
li.has-submenu:hover ul.sub-menu {
    left: 230px;
}

/*--------------------------------for _layout header-----------------------------------------------------------------------------*/
#header1{
    margin-left:300px;
    color:white;
    font-size:1.8em;
}