﻿@model BloodCP

@{
    ViewBag.Title = "BloodCP";
    Layout = "~/Views/Shared/_PrescribingMedicine.cshtml";
    Page.Title = "BloodCP";
    int MedicalTestId = ViewBag.MedicalTestId;
    bool IsAdded = false;

    if (ViewData.Keys.Contains("IsAdded"))
    {
        IsAdded = (bool)ViewData["IsAdded"];
    }

    List<string> Errors = ViewData["Errors"] as List<string>;
}

@if (IsAdded)
{
    <div class="hidden" id="alertUser">
        <p id="header-message">Success</p>
        <p id="main-message">Test Recod Is Upadted Successfully...!!</p>
        <p id="alert-type">success</p>
        <p id="confirm-button-class">btn-success</p>
    </div>
}

@if(Errors != null)
{
    foreach(var err in Errors)
    {
        <p class="text-danger">@err</p>
    }
}
else if(!IsAdded)
{
    <div>
        @using (Html.BeginForm("BloodCP", "Lab", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(model => model.Id)
            @Html.HiddenFor(model => model.PrescriptionId)
            <input type="hidden" name="MedicalTestId" value="@MedicalTestId" />

            <div class="form-horizontal">
                <hr />
                @Html.ValidationSummary(true)
                <label>Normal Range : </label>
                <label>3.3 - 7.8 mg/dl</label>
                <div class="form-group">
                    @Html.LabelFor(model => model.Glucose2HRSABF, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Glucose2HRSABF, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Glucose2HRSABF)
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Save" class="btn btn-default" />
                    </div>
                </div>
            </div>
        }
    </div>
}
else
{
    <p class="text-danger">Test Result Is Added....!!</p>
}

