﻿@model Calcium

@{
    ViewBag.Title = "Calcuim";
    Layout = "~/Views/Shared/_PrescribingMedicine.cshtml";
    Page.Title = "Calcuim";
    int MedicalTestId = ViewBag.MedicalTestId;
    bool IsAdded = false;

    if (ViewData.Keys.Contains("IsAdded"))
    {
        IsAdded = (bool)ViewData["IsAdded"];
    }

    List<string> Errors = ViewData["Errors"] as List<string>;
}

@if (IsAdded)
{
    <div class="hidden" id="alertUser">
        <p id="header-message">Success</p>
        <p id="main-message">Test Recod Is Upadted Successfully...!!</p>
        <p id="alert-type">success</p>
        <p id="confirm-button-class">btn-success</p>
    </div>
}

@if (Errors != null)
{
    foreach (var err in Errors)
    {
        <p class="text-danger">@err</p>
    }
}
else if (!IsAdded)
{
    <div>
        <label>Normal Range : </label>
        <label>8.6 - 10.3 mg/dl</label>
        @using (Html.BeginForm("Calcuim", "Lab", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(model => model.Id)
            @Html.HiddenFor(model => model.PrescriptionId)
            <input type="hidden" name="MedicalTestId" value="@MedicalTestId" />

            <div class="form-horizontal">

                @Html.ValidationSummary(true)


                <div class="form-group">
                    @Html.LabelFor(model => model.calcium1, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.calcium1, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.calcium1)
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        @if (IsAdded)
                        {
                            <input type="submit" value="Update" class="btn btn-info" />
                        }
                        else
                        {
                            <input type="submit" value="Save" class="btn btn-info" />
                        }
                    </div>
                </div>
            </div>
        }

    </div>
}
else
{
    <p class="text-danger">Test Result Is Added....!!</p>
}




