﻿@model CrossMatch

@{
    ViewBag.Title = "CrossMatch";
    Layout = "~/Views/Shared/_PrescribingMedicine.cshtml";
    Page.Title = "Cross Match";

    int MedicalTestId = ViewBag.MedicalTestId;
    bool IsAdded = false;
    if (ViewData.Keys.Contains("IsAdded"))
    {
        IsAdded = (bool)ViewData["IsAdded"];
    }

    List<string> Errors = ViewData["Errors"] as List<string>;
}

@if (IsAdded)
{
    <div class="hidden" id="alertUser">
        <p id="header-message">Success</p>
        <p id="main-message">Test Recod Is Upadted Successfully...!!</p>
        <p id="alert-type">success</p>
        <p id="confirm-button-class">btn-success</p>
    </div>
}

@if (Errors != null)
{
    foreach (var err in Errors)
    {
        <p class="text-danger">@err</p>
    }
}
else if(!IsAdded)
{
    <div>
        @using (Html.BeginForm("CrossMatch", "Lab", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(model => model.Id)
            @Html.HiddenFor(model => model.PrescriptionId)
            <input type="hidden" name="MedicalTestId" value="@MedicalTestId" />

            <div class="form-horizontal">
                <hr />
                @Html.ValidationSummary(true)

                <div class="form-group">
                    @Html.LabelFor(model => model.MRNOfDonor, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.MRNOfDonor, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.MRNOfDonor)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.NameOfDonor, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.NameOfDonor, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.NameOfDonor)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.AgeOfDonor, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.AgeOfDonor, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.AgeOfDonor)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.RelationOfDonorWithPatient, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.RelationOfDonorWithPatient, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.RelationOfDonorWithPatient)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.BloodBagNO, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.BloodBagNO, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.BloodBagNO)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.PatientBloodGroup, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.PatientBloodGroup, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.PatientBloodGroup)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.CrossMatchValue, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.CrossMatchValue, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.CrossMatchValue)
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Create" class="btn btn-default" />
                    </div>
                </div>
            </div>
        }
    </div>
}
else
{
    <p class="text-danger">Test Result Is Added....!!</p>
}

