﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_PrescribingMedicine.cshtml";
    Page.Title = "Index";
}

<div class="viewPatient_top">
    <h4>Search Patient</h4>

    @using (Html.BeginForm("Index", "Lab", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <div class="input-group">
            <input type="text" name="patientId" class="search-form" placeholder="Enter Patient Id"><span class="input-group-btn"></span>
            <button class="btn btn-default btn-round">Next</button>
        </div>
    }
</div>
