﻿@model ViewLabTestsViewModel
@{
    ViewBag.Title = "LabPrescribe";
    Layout = "~/Views/Shared/_PrescribingMedicine.cshtml";
    Page.Title = "View Patients Tests";
    Age Age = Age.GetAge(Model.DateOfBirth, DateTime.Now);
}


@*<div class="well">
    <label>@Model.PatientId</label>
    <label>@Model.PatientName</label>
    <label>@Age.Years Years @Age.Months Months</label>
    <label>@Model.DoctorName</label>
</div>*@

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-4">
            <label>Patient ID : </label>
            <label>@Model.PatientId</label>
            <br />
            <label>Patient Name : </label>
            <label>@Model.PatientName</label>
        </div>
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
            <label>Patient Age : </label>
            <label>@Age.Years Years @Age.Months Months</label>
            <br />
            <label>Doctor Name : </label>
            <label>@Model.DoctorName</label>
        </div>
    </div>
</div>

<div id="prescribedTest">
        <table id="prescribedMedicine" class="table table-striped table-bordered" cellspacing="0" width=20 style="margin-top:2em">
            <thead>
                <tr class="info">
                    <th>
                        @Html.DisplayNameFor(model => model.Tests.ElementAt(0).TestType)
                    </th>
                    <th>Status</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Tests)
                {
                    <tr>
                        @using (Html.BeginForm("AddTestResult", "Lab", FormMethod.Post, new { target = "_blank" }))
                        {
                            @Html.AntiForgeryToken()
                            @Html.HiddenFor(modelItem => item.MedicalTestId)
                            <td>
                                @Html.DisplayFor(modelItem => item.TestType)
                            </td>
                            <td>
                                @item.Status.ToString()
                            </td>
                            <td>
                                @Html.HiddenFor(modelItem => item.PatientId)
                                @Html.HiddenFor(modelItem => item.TestType)
                                @Html.HiddenFor(modelItem => item.MedicalTestId)
                                @Html.HiddenFor(modelItem => item.PrescriptionId)
                                @if (item.Status != MedicalTestStatus.Completed)
                                {
                                    <button type="submit" class="btn btn-info">Enter Result</button>
                                }
                            </td>
                        }
                    </tr>
                }
            </tbody>
        </table>
</div>



