﻿@model PagedList.IPagedList<Appointment>
@using PagedList.Mvc;
@{
    ViewBag.Title = "All Appointments";
    Layout = "~/Views/Shared/_Patient.cshtml";
    Page.Title = "All Appointments";
}

<table class="table table-striped table-bordered" cellspacing="0" width=20>
    <thead>
        <tr class="info">
            <td>Doctor Name</td>
            <td>Date</td>
            <td>Time</td>
            <td>Status</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var appointment in Model)
        {
            <tr>
                <td class="hidden">
                    @Html.HiddenFor(model => appointment.Id)
                </td>
                <td>@appointment.Doctor.User.Name</td>
                <td>@appointment.Date.ToString("dd/MM/yyyy")</td>
                <td>@DateTime.Today.Add(appointment.Time).ToString("hh:mm tt")</td>
                <td>@appointment.Status.ToString()</td>
            </tr>
        }
    </tbody>
</table>

<br />
@Html.PagedListPager(Model, pageNumber => Url.Action("ViewAllAppointments", new { pageNumber }), PagedListRenderOptions.ClassicPlusFirstAndLast)


