﻿@model PagedList.IPagedList<Prescription>
@using PagedList.Mvc;

@{
    ViewBag.Title = "All Prescriptions";
    Layout = "~/Views/Shared/_Patient.cshtml";
    Page.Title = "Prescriptions Home";
}


<table class="table table-striped table-bordered" cellspacing="0" width=20>
    <thead>
        <tr class="info">
            <td>Doctor Name</td>
            <td>Date</td>
            <td></td>
        </tr>
    </thead>
    <tbody>
        @foreach (var prescription in Model)
        {
            <tr>
                <td class="hidden">
                    @Html.HiddenFor(model => prescription.Id)
                </td>
                <td>@prescription.Doctor.User.Name</td>
                <td>@prescription.Date.ToString("dd/MM/yyyy")</td>
                <td>
                    @Html.ActionLink("View Details", "ViewPrescriptionDetails", "Patient", new { prescprionNo = prescription.Id }, new { @class = "btn btn-primary", target = "_blank" })
                </td>
            </tr>
        }
    </tbody>
</table>

<br />
@Html.PagedListPager(Model, pageNumber => Url.Action("ViewAllPrescriptions", new { pageNumber }), PagedListRenderOptions.ClassicPlusFirstAndLast)






