﻿@model Prescription
@{
    ViewBag.Title = "Prescription Details";
    Layout = "~/Views/Shared/_Patient.cshtml";
    Page.Title = "Prescription Detail";
    var totalBill = 0.0;
}

<p>
    <strong>Doctor Name: </strong> @Model.Doctor.User.Name<br />
    <strong>Date: </strong> @Model.Date.ToString()<br />
</p>

<table id="prescribedMedicine" class="table table-striped table-bordered" cellspacing="0" width="100">
    <thead>
        <tr class="info">
            <th>Medicine Name</th>
            <th>Medicine Time</th>
            <th>Days</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Sub Price</th>

        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model.PrescribedMedicines)
        {
            totalBill += item.Quantity * item.Medicine.PricePerUnit;
        <tr>
            <td>@item.Medicine.Name</td>
            <td>@item.Time</td>
            <td>@item.NoOfDays</td>
            <td>@item.Quantity</td>
            <td>@item.Medicine.PricePerUnit</td>
            <td>@(item.Quantity * item.Medicine.PricePerUnit)</td>
        </tr>
        }
    </tbody>

    <tfoot>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>
                <label class="right">Total:</label>
                <label id="totalBill">@totalBill</label>
            </td>
        </tr>
    </tfoot>
</table>

<table id="medicalTestResults" class="table table-striped table-bordered" cellspacing="0" width="100">
    <thead>
        <tr class="info">
            <th>Test Name</th>
            <th>Prescribed By</th>
            <th>Prescribed On</th>
            <th>Status</th>
            <th></th>

        </tr>
    </thead>

    <tbody>
        @foreach (var test in Model.MedicalTests)
        {
            <tr>
                <td>@test.MedicalTestType.Name</td>
                <td>@test.Prescription.Doctor.User.Name</td>
                <td>@test.PrescribedOn</td>
                <td>@test.Status</td>
                <td>
                    @if (test.Status == MedicalTestStatus.Completed)
                    {
                        <button type="button" class="btn btn-success btn-sm pull-right btnViewTestResult">
                            View Details
                        </button>
                    }
                </td>
            </tr>
            if (test.Status == MedicalTestStatus.Completed)
            {
                <tr class="hidden testResult">
                    <td colspan="5">
                        <div>
                            @if (test.MedicalTestTypeId == (int)TestTypes.BloodCP)
                            {
                                var testResult = Model.BloodCPs.FirstOrDefault(t => t.PrescriptionId == test.PrescriptionId);
                                @:<strong>Glucose 2 HRSABF Value: </strong>@testResult.Glucose2HRSABF
                            }
                            else if (test.MedicalTestTypeId == (int)TestTypes.Calcuim)
                            {
                                var testResult = Model.Calciums.FirstOrDefault(t => t.PrescriptionId == test.PrescriptionId);
                                @:<strong>Calcium Unit Value: </strong>@testResult.calciumUnit<br/>
                                @:<strong>Calcium Value: </strong>@testResult.calcium1
                            }
                            else if (test.MedicalTestTypeId == (int)TestTypes.CrossMatch)
                            {
                                var testResult = Model.CrossMatches.FirstOrDefault(t => t.PrescriptionId == test.PrescriptionId);
                                @:<strong>Age Of Donor: </strong>@testResult.AgeOfDonor<br />
                                @:<strong>Blood Bag NO: </strong>@testResult.BloodBagNO<br />
                                @:<strong>Cross Match Value: </strong>@testResult.CrossMatchValue<br />
                                @:<strong>MRN Of Donor: </strong>@testResult.MRNOfDonor<br />
                                @:<strong>Name Of Donor: </strong>@testResult.NameOfDonor<br />
                                @:<strong>Patient Blood Group: </strong>@testResult.PatientBloodGroup<br />
                                @:<strong>Relation Of Donor With Patient: </strong>@testResult.RelationOfDonorWithPatient
                            }
                            else if (test.MedicalTestTypeId == (int)TestTypes.TFT)
                            {
                                var testResult = Model.TFTs.FirstOrDefault(t => t.PrescriptionId == test.PrescriptionId);
                                @:<strong>Total T3: </strong>@testResult.TotalT3<br />
                                @:<strong>Total T3 Unit: </strong>@testResult.TotalT3Unit<br />
                                @:<strong>Total T4: </strong>@testResult.TotalT4<br />
                                @:<strong>Total T4 Unit: </strong>@testResult.TotalT4Unit<br />
                                @:<strong>TSH: </strong>@testResult.TSH<br />
                                @:<strong>TSH Unit: </strong>@testResult.TSHUnit
                            }
                        </div>
                    </td>
                </tr>
                <tr></tr>
                <tr></tr>
            }
        }
    </tbody>
</table>

@section Scripts {
    <script>
        $(function () {
            $(".btnViewTestResult").on('click', function () {
                $("table#medicalTestResults tr.testResult").addClass("hidden");
                $(this).closest('tr').next().removeClass("hidden");
            });
        });
    </script>
}