﻿@{
    ViewBag.Title = "Index";
    if (User.IsInRole(UserRoles.Admin.ToString()))
    {
        Layout = NazeeranHospitalManagementConstants.LayoutNameConst.LayoutDashboardAdminPartial;
    }
    else if (User.IsInRole(UserRoles.Doctor.ToString()))
    {
        Layout = NazeeranHospitalManagementConstants.LayoutNameConst.LayoutDashboardDoctorPartial;
    }
    else if (User.IsInRole(UserRoles.HelpDesk.ToString()))
    {
        Layout = "~/Views/Shared/_Laboratorists.cshtml";
    }
    else if (User.IsInRole(UserRoles.LabAttendent.ToString()))
    {
        Layout = "~/Views/Shared/_PrescribingMedicine.cshtml";
    }
    else if (User.IsInRole(UserRoles.Patient.ToString()))
    {
        Layout = "~/Views/Shared/_Patient.cshtml";
    }
    else if (User.IsInRole(UserRoles.Pharmacist.ToString()))
    {
        Layout = "~/Views/Shared/_PharmacistDashboard.cshtml";
    }
}

<style>
    #onlineUsersList, #chatHistory {
        list-style-type: none;
    }

    #onlineUsersList li {
        padding: 10px 5px;
        font-weight: bold;
    }

    #onlineUsersList li:hover {
        cursor: pointer;
    }

    li.currentChat {
        background: #ff6a00;
    }

    textarea#chatMessage{
        width: 100%;
    }
</style>

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <ul id="onlineUsersList">
            </ul>
        </div>
        <div class="col-md-9">
            <ul id="chatHistory"></ul>
        </div>
        <div class="clearfix"></div>
        <div class="col-md-push-3 col-md-9">
            <textarea class="form-control" type="text" id="chatMessage" rows="5"></textarea>
        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">
        $.connection.chatHub.client.addChatMessage = function (fromUserId, message, time) {
            var currentChatUserId = $("#onlineUsersList li.currentChat").attr("data-ppims-userid");
            if (fromUserId == currentChatUserId) {
                var li = "<li>[" + time.replace("T", " ") + "] " + message + "</li>";
                $("#chatHistory").append($(li));
            }
        };

        $.connection.hub.disconnected(function () {
            setTimeout(function () {
                $.connection.hub.start();
            }, 5000); // Restart connection after 5 seconds.
        });

        var ManageChat = function () {
            var chat = $.connection.chatHub;
            getOnlineUsers();

            $("#onlineUsersList").on('click', 'li', function () {
                var $li = $(this);
                $("#onlineUsersList li").removeClass('currentChat');
                $li.addClass('currentChat');

                var userId = $li.attr("data-ppims-userid");
                chat.server.getChatHistory(userId).done(function (data) {
                    var html = "";
                    for (var index = 0; index < data.length; index++) {
                        html += "<li>[" + data[index]["Time"].replace("T", " ") + "] " + data[index]["Message"] + "</li>";
                    }
                    $("#chatHistory").html(html);
                })
                .fail(function (data) {
                    console.log(data);
                });
            });

            $("textarea#chatMessage").on('keypress', function (event) {
                if (event.shiftKey == true)
                    return true;

                // for enter
                if (event.which == 13 && $("#chatMessage").val().length > 0) {
                    var toUserId = $("#onlineUsersList li.currentChat").attr("data-ppims-userid");
                    var message = $("#chatMessage").val();
                    chat.server.sendMessage(toUserId, message)
                        .then(function (data) {
                            if (data['Success']) {
                                if (toUserId == data['Success']['ToUserId']) {
                                    var li = "<li>[" + data['Success']["Time"].replace("T", " ") + "] " + data['Success']["Message"] + "</li>";
                                    $("#chatHistory").append($(li));
                                    $("#chatMessage").val('');
                                }
                            }
                        });
                }
            });

            function getOnlineUsers() {
                chat.server.getOnlineUsers().done(function (data) {
                    var html = "";
                    for (var index = 0; index < data.length; index++)
                        html += "<li data-ppims-userid=" + data[index]["UserId"] + ">" + data[index]["Name"] + "</li>";

                    $("#onlineUsersList").html("");
                    $("#onlineUsersList").html(html);
                    $("#onlineUsersList li:first-child").click();
                })
                .fail(function (data) {
                    console.log(data);
                });
            }
        }
    </script>
}