﻿@model Appointment

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Appointment</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DoctorId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DoctorId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Time)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Time)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AppointmentNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AppointmentNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Doctor.Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Doctor.Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Patient.Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Patient.Id)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
