﻿@model IEnumerable<Appointment>

@{
    ViewBag.Title = "ViewAll";
    Layout = $"~/Views/Shared/{NazeeranHospitalManagementConstants.LayoutNameConst.LayoutDashboardDoctorPartial}";
}


<div class="container table-details">
    <div class="row">

        <div class="col-md-11">
            <div class="panel panel-default panel-table">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col col-xs-6">
                            <h3 class="panel-title">View Appointments!</h3>
                        </div>
                        <div class="col col-xs-6 text-right">
                            <a href="#" class="btn btn-sm btn-primary btn-create disabled">Create New</a>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <table class="table table-striped table-bordered table-list">
                        <thead>
                            <tr>
                                <th>
                                    <em class="fa fa-cog"></em>
                                </th>
                                <th class="hidden-xs">@Html.DisplayNameFor(model => model.PatientId)</th>
                                <th class="hidden-xs">@Html.DisplayNameFor(model => model.DoctorId)</th>
                                <th class="hidden-xs">@Html.DisplayNameFor(model => model.Date)</th>
                                <th class="hidden-xs">@Html.DisplayNameFor(model => model.Time)</th>
                                <th class="hidden-xs">@Html.DisplayNameFor(model => model.AppointmentNo)</th>
                            </tr>
                        </thead>

                        <tbody>
                            @{ int i = 1;}
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td align="center">
                                        <a class="btn btn-default"><em class="fa fa-pencil"></em></a>
                                        <a class="btn btn-danger"><em class="fa fa-trash"></em></a>
                                    </td>
                                    <td class="hidden-xs">
                                        @Html.DisplayFor(modelItem => item.PatientId)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.DoctorId)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Date.ToShortDateString())
                                    </td>
                                    <td>

                                    </td>
                                    <td>
                                        @i.ToString()
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>

                </div>
                <div class="panel-footer">
                    <div class="row">
                        <div class="col col-xs-4">
                            Page 1 of 5
                        </div>
                        <div class="col col-xs-8">
                            <ul class="pagination hidden-xs pull-right">
                                <li>
                                    <a href="#">1</a>
                                </li>
                                <li>
                                    <a href="#">2</a>
                                </li>
                                <li>
                                    <a href="#">3</a>
                                </li>
                                <li>
                                    <a href="#">4</a>
                                </li>
                                <li>
                                    <a href="#">5</a>
                                </li>
                            </ul>
                            <ul class="pagination visible-xs pull-right">
                                <li>
                                    <a href="#">«</a>
                                </li>
                                <li>
                                    <a href="#">»</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>