﻿@model IEnumerable<MedicineBill>

@{
    ViewBag.Title = "bills";
    Layout = "~/Views/Shared/_PharmacistLayout.cshtml";
    Page.Title = "Bills Report";
}

<table id="table" class="table table-striped table-bordered" cellspacing="0" width="100">
    <tr class="info">
        <th>
            @Html.DisplayNameFor(model => model.PharmacistId)
        </th>
        <th>
            Patient Name
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Amount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BillTime)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PharmacistId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Patient.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BillTime)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
