﻿@model A
@{
    ViewBag.Title = "Bill";
    Layout = "~/Views/Shared/_bill.cshtml";
}

<div class="row" id="bill_top_dash"><i class="fa fa-arrow-circle-o-right"></i> Bill Date & Time<span>@DateTime.Now</span>
    </div>

<table id="prescribedMedicine" class="table table-striped table-bordered" cellspacing="0" width="100">
    <thead>
        <tr class="info">
            <th>
                @Html.DisplayNameFor(model => model.m1.ElementAt(0).medicine_name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.m1.ElementAt(0).medicine_quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.m1.ElementAt(0).medicine_price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.m1.ElementAt(0).price)
            </th>
        </tr>
    </thead>
    <tbody>
        @{
            double total = 0.0;
        }
        @for (int i = 0; i < Model.m1.Count; i++)
        {
            <tr>
                <td>
                    @Model.m1[i].medicine_name
                </td>
                <td>
                    @Model.m1[i].medicine_quantity.ToString()
                </td>
                <td>
                    @Model.m1[i].medicine_price.ToString()
                </td>
                <td>
                    <label>@(Model.m1[i].price = Model.m1[i].medicine_price * Model.m1[i].medicine_quantity)</label>
                    @{total += Model.m1[i].price;}
                </td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td>
                <label class="right">Total:</label>
                <label>@total</label>
            </td>
        </tr>
    </tfoot>
</table>

@*@foreach (var item in Model.m1)
    {
        <tr>
            <td>
                @Html.HiddenFor(modelItem => item.medicine_name)
                @Html.DisplayFor(modelItem => item.medicine_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.medicine_quantity, new { @class = "quantity_box" })
                <input type="hidden" name="inStockQuantity" value="@item.medicine_quantity" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.medicine_price)
                @Html.HiddenFor(modelItem => item.medicine_price)
            </td>
            <td>
                <label id="subTotal">@(item.price = item.medicine_price * item.medicine_quantity)</label>
                @{total += item.amount;}
                <label id="codeGuest" for="CodeGuest">@(item.amount = item.amount + item.price)</label>
                @Html.HiddenFor(modelItem => item.price)
            </td>
        </tr>
    }*@
