﻿@{
    ViewBag.Title = "Calendar";
    Layout = "~/Views/Shared/_PharmacistDashboard.cshtml";
    Page.Title = "Calendar";
}

<div class="row">
    <!-- CALENDAR-->
    <div class="col-md-12 col-xs-12">
        <div id="calendar_set">
            <div class="panel panel-info " data-collapsed="0">
                <div class="panel-heading">
                    <div class="panel-title">
                        <i class="fa fa-calendar"></i>
                        Event Expiry Medicine
                    </div>
                </div>
                <div class="panel-body" style="padding:0px;">
                    <div class="calendar-env">
                        <div class="calendar-body">
                            <div id="notice_calendar"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript">
        var d = [];
        function GetMed() {
            $.ajax({
                url: "Meddd",
                type: "POST"
            })
                .done(function (data) {
                    var op = {
                        header:
                        {
                            left: 'title',
                            right: 'month,agendaWeek,agendaDay today prev,next'
                        },

                        editable: false,
                        firstDay: 1,
                        height: 530,
                        droppable: false,

                        events: data
                        //[
                        //    {
                        //        id: '123',
                        //        title: "Baclofen Tab 5mg",
                        //        url: 'http://localhost:4287/Medicine/Calendar',
                        //        start: new Date(2016,
                        //                        04,
                        //                        18),
                        //        end: new Date(2016,
                        //                        04,
                        //                        18),
                        //        allDay: true,
                        //        color: 'red',
                        //        textColor: 'white'
                        //    },
                        //    {
                        //        title: "Panadol Tab 250mg",
                        //        url: 'http://localhost:4287/Medicine/Calendar',
                        //        start: new Date(2016,
                        //                        04,
                        //                        27),
                        //        end: new Date(2016,
                        //                        04,
                        //                        27),
                        //        allDay: true,
                        //        color: 'red',
                        //        textColor: 'white'
                        //    },
                        //    {
                        //        title: "Dexamethasone Tab 0.5mg",
                        //        url: 'http://localhost:4287/Medicine/Calendar',
                        //        start: new Date(2016,
                        //                        05,
                        //                        13),
                        //        end: new Date(2016,
                        //                        05,
                        //                        13),
                        //        allDay: true, color: 'red',
                        //        textColor: 'white'
                        //    },
                        //]
                    };
                    console.log(op);
                    $('#notice_calendar').fullCalendar(op);
                })
        }

        GetMed();
    </script>

}




@*@<div class="jumbotron">
            <h1>Event Calendar</h1>
            <div id="calendar"></div>
        </div>

        @section scripts{
            <script type="text/javascript">

                $(document).ready(function () {
                    $('#calendar').fullCalendar({
                        theme: true,

                        //defaultView: 'agendaDay',
                        editable: false,
                        events: '/Medicine/GetEvents/'
                    });
                });
            </script>
        }

    @section scripts{
        <script type="text/javascript">
            var events = null;
            $(document).ready(function () {
                var calendar = $('#notice_calendar');
                var options = {
                    url: '/Medicine/GetExpiredEvents',
                    type: 'POST'
                };

                $.ajax(options).done(function (data) {
                    events = data;

                    $.each(events, function () {
                        console.log(this.id);
                    });
                    console.log(events);
                });

                $(calendar).fullCalendar({
                    header: {
                        left: 'title',
                        right: 'month,agendaWeek,agendaDay today prev,next'
                    },
                    editable: false,
                    firstDay: 1,
                    height: 530,
                    droppable: false,
                    events: JSON.parse(events)
                });
            });
        </script>

        }*@

