﻿@model Medicine

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_PharmacistLayout.cshtml";
    Page.Title = "Add Medicine";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <form class="form-horizontal" role="form">
        <hr />
        @Html.ValidationSummary(true)
        <div id="form_Add">
            <fieldset class="form-group">
                @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @*@System.Web.Mvc.Html.EditorExtensions.EditorFor(model => model.Name)*@
                    @Html.EditorFor(model => model.Name)
                    @Html.ValidationMessageFor(model => model.Name)
                </div>
            </fieldset>
            <fieldset class="form-group">
                @Html.LabelFor(model => model.Type, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @*@System.Web.Mvc.Html.EditorExtensions.EditorFor(model => model.Name)*@
                    @Html.EditorFor(model => model.Type)
                    @Html.ValidationMessageFor(model => model.Type)
                </div>
            </fieldset>
            <fieldset class="form-group">
                @Html.LabelFor(model => model.Potency, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @*@System.Web.Mvc.Html.EditorExtensions.EditorFor(model => model.Name)*@
                    @Html.EditorFor(model => model.Potency)
                    @Html.ValidationMessageFor(model => model.Potency)
                </div>
            </fieldset>

            <fieldset class="form-group">
                @Html.LabelFor(model => model.ManufacturerName, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ManufacturerName)
                    @Html.ValidationMessageFor(model => model.ManufacturerName)
                </div>
            </fieldset>

            <fieldset class="form-group">
                @Html.LabelFor(model => model.BatchNo, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.BatchNo)
                    @Html.ValidationMessageFor(model => model.BatchNo)
                </div>
            </fieldset>

            <fieldset class="form-group">
                @Html.LabelFor(model => model.ChemicalComposition, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ChemicalComposition)
                    @Html.ValidationMessageFor(model => model.ChemicalComposition)
                </div>
            </fieldset>

            <fieldset class="form-group">
                @Html.LabelFor(model => model.Quantity, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Quantity)
                    @Html.ValidationMessageFor(model => model.Quantity)
                </div>
            </fieldset>

            <fieldset class="form-group">
                @Html.LabelFor(model => model.QuantityThreshold, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.QuantityThreshold)
                    @Html.ValidationMessageFor(model => model.QuantityThreshold)
                </div>
            </fieldset>

            <fieldset class="form-group">
                @Html.LabelFor(model => model.ManufactuerDate, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ManufactuerDate, "", new { htmlAttributes = new { @class = "datepic" } })
                    @Html.ValidationMessageFor(model => model.ManufactuerDate)
                </div>
            </fieldset>

            <fieldset class="form-group">
                @Html.LabelFor(model => model.ExpiryDate, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ExpiryDate, "", new { htmlAttributes = new { @class = "datepic" } })
                    @Html.ValidationMessageFor(model => model.ExpiryDate)
                </div>
            </fieldset>

            <fieldset class="form-group">
                @Html.LabelFor(model => model.ExpiryThreshold, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ExpiryThreshold, "", new { htmlAttributes = new { @class = "datepic" } })
                    @Html.ValidationMessageFor(model => model.ExpiryThreshold)
                </div>
            </fieldset>

            <fieldset class="form-group">
                @Html.LabelFor(model => model.PricePerUnit, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.PricePerUnit)
                    @Html.ValidationMessageFor(model => model.PricePerUnit)
                </div>
            </fieldset>

            <fieldset class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-info" />
                </div>
            </fieldset>
        </div>
    </form>
}

<div>
    @Html.ActionLink("Back to List", "Dashboard")
</div>


<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/Scripts/pdsa-common.js"></script>
