﻿@model Medicine

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_PharmacistLayout.cshtml";
    Page.Title = "Delete";
}


<h3>Are you sure you want to delete this Medicine ?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Potency)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Potency)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ManufacturerName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ManufacturerName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BatchNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BatchNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ChemicalComposition)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChemicalComposition)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quantity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QuantityThreshold)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QuantityThreshold)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ManufactuerDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ManufactuerDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExpiryDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExpiryDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExpiryThreshold)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExpiryThreshold)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PricePerUnit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PricePerUnit)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Display")
        </div>
    }
</div>
