﻿@model Medicine

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_PharmacistLayout.cshtml";
    Page.Title = "Details";
}


<div>
    <h4>Medicine</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Potency)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Potency)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ManufacturerName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ManufacturerName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BatchNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BatchNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ChemicalComposition)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChemicalComposition)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quantity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QuantityThreshold)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QuantityThreshold)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ManufactuerDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ManufactuerDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExpiryDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExpiryDate)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.ExpiryThreshold)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExpiryThreshold)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PricePerUnit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PricePerUnit)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
