﻿@model Medicine

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_PharmacistLayout.cshtml";
    Page.Title = "Edit Medicine";
}



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name)
                @Html.ValidationMessageFor(model => model.Name)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Type, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Type)
                @Html.ValidationMessageFor(model => model.Type)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Potency, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Potency)
                @Html.ValidationMessageFor(model => model.Potency)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ManufacturerName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ManufacturerName)
                @Html.ValidationMessageFor(model => model.ManufacturerName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.BatchNo, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.BatchNo)
                @Html.ValidationMessageFor(model => model.BatchNo)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ChemicalComposition, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ChemicalComposition)
                @Html.ValidationMessageFor(model => model.ChemicalComposition)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Quantity, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Quantity)
                @Html.ValidationMessageFor(model => model.Quantity)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.QuantityThreshold, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.QuantityThreshold)
                @Html.ValidationMessageFor(model => model.QuantityThreshold)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ManufactuerDate, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ManufactuerDate, "", new { htmlAttributes = new { @class = "datepic" } })
                @Html.ValidationMessageFor(model => model.ManufactuerDate)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ExpiryDate, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ExpiryDate, "", new { htmlAttributes = new { @class = "datepic" } })
                @Html.ValidationMessageFor(model => model.ExpiryDate)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ExpiryThreshold, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ExpiryThreshold, "", new { htmlAttributes = new { @class = "datepic" } })
                @Html.ValidationMessageFor(model => model.ExpiryThreshold)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PricePerUnit, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PricePerUnit)
                @Html.ValidationMessageFor(model => model.PricePerUnit)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Update")
</div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
