﻿@model A

@{
    ViewBag.Title = "GivePrescribe";
    Layout = "~/Views/Shared/_PharmacistLayout.cshtml";
    Page.Title = "Medicine Subscription";
}

<div data-otf-target>
    @using (Html.BeginForm("SaveBill", "Medicine", FormMethod.Post, new { target = "_blank" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(modelItem => Model.idd)
        <table id="prescribedMedicine" class="table table-striped table-bordered" cellspacing="0" width="100">
            <thead>
                <tr class="info">
                    <th>
                        @Html.DisplayNameFor(model => model.m1.ElementAt(0).medicine_name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.m1.ElementAt(0).medicine_time)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.m1.ElementAt(0).medicine_noOfday)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.m1.ElementAt(0).medicine_quantity)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.m1.ElementAt(0).medicine_price)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.m1.ElementAt(0).price)
                    </th>

                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.m1)
                {
                    <tr>
                        <td>
                            @Html.HiddenFor(modelItem => item.medicine_name)
                            @Html.DisplayFor(modelItem => item.medicine_name)
                            @Html.DisplayFor(modelItem => item.TypeM)
                            @Html.DisplayFor(modelItem => item.PotencyM)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.medicine_time)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.medicine_noOfday)
                        </td>
                        <td>
                            @*@Html.HiddenFor(modelItem => item.medicine_quantity)*@
                            @Html.EditorFor(modelItem => item.medicine_quantity, new { @class = "quantity_box" })
                            <input type="hidden" name="inStockQuantity" value="@item.medicine_quantity" />
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.medicine_price)
                            @Html.HiddenFor(modelItem => item.medicine_price)
                        </td>
                        <td>
                            <label id="subTotal">@item.price</label>
                            @Html.HiddenFor(modelItem => item.price)
                            @*@Html.DisplayFor(modelItem => item.price)*@
                        </td>
                    </tr>
                }
            </tbody>

            <tfoot>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>
                        <label class="right">Total:</label>
                        <label id="totalBill"></label>
                    </td>
                </tr>
            </tfoot>
        </table>
    <input type="button" onclick="window.location.href='@Url.Action("ViewPatient")'" value="Back" class="btn btn-info" />

    <input type="submit" value="Save..." class="btn btn-info" />

    @*<input type="button" onclick="window.location.href='@Url.Action("SendMail")'" value="Send Medicine Prescription" class="btn btn-info" />*@
        @*<input type="button" value="Save Bill" class="btn btn-info search-btn1" id="btnSaveBill"/>
        <input type="button" value="Print Bill" class="btn btn-info search-btn1" id="btnPrintBill" />*@
    }
</div>