﻿@model MailModel
@{
    ViewBag.Title = "Mail";
    Layout = "~/Views/Shared/_PharmacistLayout.cshtml";
    Page.Title = "Send Prescription";
}
<script src="~/Scripts/jquery-1.7.1.min.js"></script>
<script>
    $(document).ready(function () {
        if ('@ViewBag.Message' == 'Sent') {
            alert('Mail has been sent successfully');
        }
    });
</script>
<fieldset>
    @using (@Html.BeginForm("SendMail", "Medicine", FormMethod.Post, new { @id = "form1", @enctype = "multipart/form-data" }))
    {
    @Html.ValidationSummary()


    <table class="table table-striped">
        <tr>
            <td>
                To:
            </td>
            <td>
                @Html.TextBoxFor(m => m.To)

            </td>
        </tr>
        <tr>
            <td>
                Subject:
            </td>
            <td>
                @Html.TextBoxFor(m => m.Subject)
            </td>
        </tr>
        <tr>
            <td>
                Attachment
            </td>
            <td>
                <input type="file" name="fileUploader" />
            </td>
        </tr>
        <tr>
            <td>
                Body:
            </td>
            <td>
                @Html.TextAreaFor(m => m.Body)
            </td>
        </tr>
    </table>
    <input type="submit" value="Send" class="btn btn-info" />
    }
</fieldset>

