﻿@model IEnumerable<Medicine>

@{
    ViewBag.Title = "ShowExpiredMedicines";
    Layout = "~/Views/Shared/_PharmacistLayout.cshtml";
    Page.Title = "Expiry Threshold Medicines";
}


<table id="table" class="table table-striped table-bordered" cellspacing="0" width="100">
    <tr class="info">
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ManufacturerName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BatchNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ChemicalComposition)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QuantityThreshold)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ManufactuerDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ExpiryDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ExpiryThreshold)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PricePerUnit)
        </th>
        <th>
            <label>Remaining Expiry Days</label>
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        if (item.ExpiryDate > DateTime.Now)
        {
            TimeSpan ts = (DateTime)item.ExpiryDate - DateTime.Now;
            int day = ts.Days + 1;
            <tr>
                <td>
                    <div>
                        @Html.DisplayFor(modelItem => item.Name)
                        @Html.DisplayFor(modelItem => item.Type)
                        @Html.DisplayFor(modelItem => item.Potency)
                    </div>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ManufacturerName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BatchNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ChemicalComposition)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.QuantityThreshold)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ManufactuerDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ExpiryDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ExpiryThreshold)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PricePerUnit)
                </td>
                <td>
                    <label>@day</label>
                </td>
                <td class="btnTable">
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn btn-danger btn-xs" })
                </td>
            </tr>
        }
        else
        {
            int day = 0;
            item.Quantity = 0;
            <tr>
                <td>
                    <div>
                        @Html.DisplayFor(modelItem => item.Name)
                        @Html.DisplayFor(modelItem => item.Type)
                        @Html.DisplayFor(modelItem => item.Potency)
                    </div>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ManufacturerName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BatchNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ChemicalComposition)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.QuantityThreshold)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ManufactuerDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ExpiryDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ExpiryThreshold)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PricePerUnit)
                </td>
                <td>
                    <label>@day</label>
                </td>
                <td class="btnTable">
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn btn-danger btn-xs" })
                </td>
            </tr>
        }
    }

</table>
