﻿@model IEnumerable<Medicine>
@{
    ViewBag.Title = "Update";
    Layout = "~/Views/Shared/_PharmacistLayout.cshtml";
    Page.Title = "Update Medicine";
}

                      <form method="get" action="@Url.Action("GetMedUpdate", "Medicine")"
                            data-ppims-ajax="true" data-ppims-target="#prescribed-medicines-panel table tbody">

                          <div class="container">
                              <div class="row">
                                  <div class="col-md-4">
                                      <div class="custom-search-input">
                                          <div class="input-group">
                                              <input type="text" id="ab12" name="Name" class="search-query form-control" placeholder="Search by Name" data-ppims-autocomplete="@Url.Action("SearchMedidicne", "Medicine")" />
                                              <span class="input-group-btn">
                                                  <button type="submit" class="btn btn-default">
                                                      <span class="glyphicon glyphicon-search"></span>
                                                  </button>
                                              </span>
                                          </div>
                                      </div>
                                  </div>

                                  <div class="col-md-4">
                                      <div class="input-group">
                                          <input type="text" name="ManufacturerName" class="search-query2 form-control" placeholder="Search by Manufacturer Name" data-ppims-autocomplete="@Url.Action("SearchMedidicneByManu", "Medicine")" />
                                          <span class="input-group-btn">
                                              <button type="submit" class="btn btn-default">
                                                  <span class="glyphicon glyphicon-search"></span>
                                              </button>
                                          </span>
                                      </div>
                                  </div>

                                  <div class="col-md-4">
                                      <div class="input-group">
                                          <input type="text" name="ChemicalComposition" class="search-query1 form-control" placeholder="Search by Chemical Composition" data-ppims-autocomplete="@Url.Action("SearchMedidicneByChemi", "Medicine")" />
                                          <span class="input-group-btn">
                                              <button type="submit" class="btn btn-default">
                                                  <span class="glyphicon glyphicon-search"></span>
                                              </button>
                                          </span>
                                      </div>
                                  </div>

                              </div>
                          </div>
                      </form>

<table id="table" class="table table-striped table-bordered" cellspacing="0" width="100">
    <tr class="info">
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ManufacturerName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BatchNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ChemicalComposition)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QuantityThreshold)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ManufactuerDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ExpiryDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ExpiryThreshold)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PricePerUnit)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                <div>
                    @Html.DisplayFor(modelItem => item.Name)
                    @Html.DisplayFor(modelItem => item.Type)
                    @Html.DisplayFor(modelItem => item.Potency)
                </div>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ManufacturerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BatchNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ChemicalComposition)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuantityThreshold)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ManufactuerDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExpiryDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExpiryThreshold)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PricePerUnit)
            </td>
            <td class="btnTable">
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-info" })
            </td>
        </tr>
    }

</table>

