﻿
@{
    ViewBag.Title = "View Patient";
    Layout = "~/Views/Shared/_PharmacistLayout.cshtml";
    Page.Title = "Patient Prescription";

    var errorWhilePrescriptionAdded = false;
    if (ViewData.ContainsKey("ErrorWhilePrescriptionAdded"))
    {
        errorWhilePrescriptionAdded = (bool)ViewData.ContainsKey("ErrorWhilePrescriptionAdded");
    }

    var prescriptionAdded = false;
    if (ViewData.ContainsKey("PrescriptionAdded"))
    {
        prescriptionAdded = (bool)ViewData.ContainsKey("PrescriptionAdded");
    }
}

@if (errorWhilePrescriptionAdded)
{
    <div id="alertUser" class="hidden">
        <p id="header-message">Error Occured.</p>
        <p id="main-message">An Error Occured While Saving medicine details.</p>
        <p id="alert-type">info</p>
        <p id="confirm-button-class"></p>
    </div>
}
else if (prescriptionAdded)
{
    <div id="alertUser" class="hidden">
        <p id="header-message">Success.</p>
        <p id="main-message">medicine details are added sucessfully.</p>
        <p id="alert-type">success</p>
        <p id="confirm-button-class"></p>
    </div>
}

<div class="viewPatient_top">
    <h4>Search Patient</h4>

    @using (Html.BeginForm("ViewPatient", "Medicine", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @*<p>*@
            <div class="input-group">
                <input type="text" name="idd" class="search-form" placeholder="Enter Patient Id"><span class="input-group-btn"></span>
                <button class="btn btn-default btn-round">Next</button>
            </div>
        @*</p>*@
            @*<div class="row">
                <div class="col-md-4">
                    <div class="custom-search-input-view">
                        <div class="input-group">
                            <input type="text" name="idd" class="  search-query-view form-control" placeholder="Search by Id" />
                            <span class="input-group-btn">
                                <button type="submit" class="btn btn-default">
                                    <span class=" glyphicon glyphicon-search"></span>
                                </button>
                            </span>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="input-group">
                        <input type="text" name="CNIC" class="  search-query1-view form-control" placeholder="Search by CNIC" />
                        <span class="input-group-btn">
                            <button type="submit" class="btn btn-default">
                                <span class=" glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="input-group">
                        <input type="text" name="Email" class="  search-query2-view form-control" placeholder="Search by Email" />
                        <span class="input-group-btn">
                            <button type="submit" class="btn btn-default">
                                <span class=" glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                    </div>
                </div>
            </div>*@
    }
</div>