﻿@model BookAppointmentViewModel

@{
    Layout = null;
}

<!-- Modal -->
<div id="patientDetailsModel" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                @if (Model.OldAppointmentId <= 0)
                {
                    @:<h4 class="modal-title">Please, Enter your details here....!!</h4>
                }
                else
                {
                    @:<h4 class="modal-title">Your details are...!!</h4>
                }
            </div>

            <div class="modal-body">
                <div>
                    @using (Html.BeginForm("BookAppointment", "GetAppointment", FormMethod.Post, new { id = "viewSlotsForm" }))
                    {
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        <div class="hidden">
                            @Html.HiddenFor(model => model.DoctorId)
                            @Html.HiddenFor(model => model.Day)
                            @Html.HiddenFor(model => model.Date)
                            @Html.HiddenFor(model => model.SlotNo)
                            @Html.HiddenFor(model => model.OldAppointmentId)
                            @Html.AntiForgeryToken()
                        </div>

                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon">Patient Name</span>
                                @Html.EditorFor(model => model.PatientName, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                            <div class="col-md-12">
                                @Html.ValidationMessageFor(modelItem => Model.PatientName, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon">Cnic</span>
                                @Html.EditorFor(model => model.Cnic, new { htmlAttributes = new { @class = "form-control mask-cnic" } })
                            </div>
                            <div class="col-md-12">
                                @Html.ValidationMessageFor(modelItem => Model.Cnic, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon">Gender</span>
                                <select class="form-control" name="Gender">
                                    <option value="0">Male</option>
                                    <option value="1">Female</option>
                                </select>
                                <div class="col-md-12">
                                    @Html.ValidationMessageFor(modelItem => Model.Gender, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon">Email</span>
                                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                            <div class="col-md-12">
                                @Html.ValidationMessageFor(modelItem => Model.Email, "", new { @class = "text-danger" })
                            </div>

                        </div>

                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon">Contact No</span>
                                @Html.EditorFor(model => model.ContactNo, new { htmlAttributes = new { @class = "form-control mask-phone-no" } })
                            </div>
                            <div class="col-md-12">
                                @Html.ValidationMessageFor(modelItem => Model.ContactNo, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    }
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-success btn-lg pull-left" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-success btn-lg pull-right" id="btnProceed">
                    @if (Model.OldAppointmentId <= 0)
                    {
                        @:Book Appointment
                    }
                    else
                    {
                        @:Reschedule Appointment
                    }
                </button>
            </div>
        </div>

    </div>
</div>
<!-- //Modal -->