﻿@model IEnumerable<ViewAppointmentViewModel>

@{
    ViewBag.Title = "AllSchedule";
    Layout = NazeeranHospitalManagementConstants.LayoutNameConst.DefaultLayout;
}

<div class="container-fluid">
    <div class="container">
        <div class="shadow-box min-top-margin">
            <table class="table table-hover table-bordered table-responsive">
                <tr class="text-center page-header center">
                    <th>
                        @Html.DisplayNameFor(model => model.DoctorName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DepartmentName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.AppointmentTime)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PatientName)
                    </th>
                    <th></th>
                </tr>
                @{ double Minutes = 15.0; }
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.DoctorName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DepartmentName)
                        </td>
                        <td>
                            @{ var Time = item.AppointmentTime.AddMinutes(Minutes).ToShortTimeString(); Minutes += Minutes;}
                            @Html.DisplayFor(modelItem => Time)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PatientName)
                        </td>
                        <td>
                            @Html.ActionLink("Details", "Appointment", new { appointmentId = item.AppointmentId }) |
                            @Html.ActionLink("Cancel", "Cancel", new { appointmentId = item.AppointmentId })
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
</div>