﻿@model ViewAppointmentViewModel

@{
    ViewBag.Title = "Cancel";
    Layout = NazeeranHospitalManagementConstants.LayoutNameConst.DefaultLayout;
}
<div class="container-fluid">
    <div class="container">
        <div class="shadow-box min-padding-all min-top-margin min-bottom-margin">
            <h2 class="text-center">Appointment Details</h2>
            <div class="">
                <h4 class="text-center">Your Appointment Details!</h4>
                <hr />
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.DoctorName)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.DoctorName)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.DepartmentName)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.DepartmentName)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.AppointmentTime)
                    </dt>

                    <dd>
                        @{ var Time = Model.AppointmentTime.ToShortTimeString(); }
                        @Html.DisplayFor(model => Time)
                    </dd>

                    <dt>
                        Appointment Date
                    </dt>

                    <dd>
                        @{ var Date = Model.AppointmentTime.ToLongDateString(); }
                        @Html.DisplayFor(model => Date)
                    </dd>

                    <dt>
                        Appointment Day
                    </dt>

                    <dd>
                        @{ var Day = Model.AppointmentTime.DayOfWeek.ToString(); }
                        @Html.DisplayFor(model => Day)
                    </dd>


                    <dt>
                        @Html.DisplayNameFor(model => model.PatientName)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.PatientName)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Status)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Status)
                    </dd>
                </dl>

                <div class="min-top-margin">
                    @using (Html.BeginForm("Cancel", "GetAppointment", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(model => model.AppointmentId)
                        <button type="submit" class="btn btn-danger pull-right">
                            <i class="glyphicon glyphicon-remove"></i> Cancel
                        </button>
                    }
                </div>
                <div class="clearfix"></div>

            </div>
        </div>
    </div>
</div>
