﻿@model Patient

@{
    ViewBag.Title = "EditPateint";
    Layout = "~/Views/Shared/_Laboratorists.cshtml";

    bool IsEdit = false;
    if (ViewData.Keys.Contains("IsAdded"))
    {
        IsEdit = (bool)ViewData["IsAdded"];
    }

    var errors = new List<string>();
    if (ViewData.Keys.Contains("Errors"))
    {
        errors = ViewData["Errors"] as List<string>;
    }
}

@if (IsEdit)
{
    <div class="hidden" id="alertUser">
        <p id="header-message">Updated</p>
        <p id="main-message">Patient Details Is Updated...!!</p>
        <p id="alert-type">success</p>
        <p id="confirm-button-class">btn-success</p>
    </div>
}
else if (Model.Id <= 0)
{
    <div class="hidden" id="alertUser">
        <p id="header-message">Invalid Id</p>
        <p id="main-message">No Patient Record Is Found...!!</p>
        <p id="alert-type">info</p>
        <p id="confirm-button-class"></p>
    </div>
}

@if (errors.Count > 0)
{
    <div class="panel panel-danger">
        @foreach (var err in errors)
        {
            <p class="text-danger text-center">@err</p>
        }
    </div>
}


@using (Html.BeginForm("SavePatient", "HelpDesk", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Eidt Patient Details</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.User.Id)
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.User.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.User.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.User.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.User.Cnic, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.User.Cnic, new { htmlAttributes = new { @class = "form-control mask-cnic" } })
                @Html.ValidationMessageFor(model => model.User.Cnic, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.User.Gender, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EnumDropDownListFor(model => model.User.Gender, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.User.Gender, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.User.Email, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.User.Email, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.User.Email, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.User.PhoneNumber, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.User.PhoneNumber, new { htmlAttributes = new { @class = "form-control mask-phone-no" } })
                @Html.ValidationMessageFor(model => model.User.PhoneNumber, "", new { @class = "text-danger" })
            </div>
        </div>

        @if (Model.Id > 0)
        {
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>
            </div>
        }
    </div>
}
