﻿
@{
    ViewBag.Title = "FindPatient";
    Layout = "~/Views/Shared/_Laboratorists.cshtml";
}

<h2>Find Patient</h2>

<div class="col-md-12 middle-align">
    <div>
        @using (Html.BeginForm("FindPateints", "HelpDesk", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            <div class="col-md-6">
                <div class="form-group">
                    <input type="number" name="patientId" class="form-control"  placeholder="Patient Id"/>
                    <button type="submit" class="btn btn-success">Find And Edit</button>
                </div>
            </div>
        }
    </div>
</div>