﻿@model PagedList.IPagedList<QueryMessage>
@using PagedList.Mvc;
@{
    ViewBag.Title = "GetAllQueryMessage";
    Layout = "~/Views/Shared/_Laboratorists.cshtml";
    Page.Title = "View All Quries..";
}

<table id="queryMessageList" class="table table-striped table-bordered" cellspacing="0" width=20>
    <thead>
        <tr class="info">
            <td>Name</td>
            <td>Email</td>
            <td>Date</td>
            <td>Query.</td>
            <td></td>
        </tr>
    </thead>
    <tbody>
        @foreach (var query in Model)
        {
            <tr>
                <td class="hidden">
                    @Html.HiddenFor(model => query.Id)
                </td>
                <td>@query.Name</td>
                <td>@query.Email</td>
                <td>@query.PostedOn.ToString("dd/MM/yyyy")</td>
                <td>@query.Question</td>
                <td>
                    <a href="~/HelpDesk/QueryDetails?id=@query.Id" class="btn btn-sm btn-success viewQueryDetails" target="_blank">View Details.</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<br />
@Html.PagedListPager(Model, page => Url.Action("GetAllQueryMessage", new { page }), PagedListRenderOptions.ClassicPlusFirstAndLast)

@section Scripts {
}

