﻿@model PagedList.IPagedList<Appointment>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Index";
    Page.Title = "";
    Layout = "~/Views/Shared/_Laboratorists.cshtml";

    var departments = ViewBag.Departments as List<Department>;
}

<form method="get" action="@Url.Action("ManageAppointments", "HelpDesk")">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <div class="custom-search-input">
                    <div class="input-group">
                        <input type="text" name="doctorName" class="search-query form-control" placeholder="Search by Doctor Name"/>
                        <span class="input-group-btn">
                            <button type="submit" class="btn btn-default">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                    </div>
                </div>
            </div>

            <div class="col-md-5">
                <div class="input-group">
                    <select name="departmentId" class="form-control">
                        <option value="0" selected="selected">Filter By Department</option>
                        @foreach (var department in departments)
                        {
                            @:<option value="@department.Id">@department.Name</option>
                        }
                    </select>
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-default">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </span>
                </div>
            </div>

        </div>
    </div>
</form>

<table id="appointmentsList" class="table table-striped table-bordered" cellspacing="0" width=20>
    <thead>
        <tr class="info">
            <td>Patient Name</td>
            <td>Doctor Name</td>
            <td>Date</td>
            <td>Time</td>
            <td>Status</td>
            <td></td>
        </tr>
    </thead>
    <tbody>
        @foreach (var appointment in Model)
        {
            <tr>
                <td class="hidden">
                    @Html.HiddenFor(model => appointment.Id)
                </td>
                <td>@appointment.Patient.User.Name</td>
                <td>@appointment.Doctor.User.Name</td>
                <td>@appointment.Date.ToString("dd/MM/yyyy")</td>
                <td>@DateTime.Today.Add(appointment.Time).ToString("hh:mm tt")</td>
                <td>@appointment.Status.ToString()</td>
                <td>
                    <button class="btn btn-sm btn-success changeStatus">Change Status</button>
                </td>
            </tr>
        }
    </tbody>
</table>

<br />
@Html.PagedListPager(Model, page => Url.Action("ManageAppointments", new { page }), PagedListRenderOptions.ClassicPlusFirstAndLast)

@section Scripts {
    <script>
        $(function () {
            $("button.approveAppointment, button.changeStatus").on('click', function () {
                var $tr = $(this).closest("tr");
                var appointmentId = $tr.find("input:hidden[name*='Id']").val();
                swal({
                    title: "Change Status!",
                    text: "Select updated status",
                    showCancelButton: true,
                    showLoaderOnConfirm: true,
                    allowOutsideClick: false,
                    input: 'select',
                    inputOptions: {
                        '0': 'Select status',
                        '1': 'Approve',
                        '3': 'Pending',
                        '4': 'Cancel'
                    },
                    preConfirm: function (selectedStatud) {
                        return new Promise(function (resolve) {
                            if (!selectedStatud || selectedStatud == '0') return;

                            var options = {
                                url: "ChangeAppointmentStatus",
                                type: "POST",
                                data: {
                                    appointmentId: appointmentId,
                                    appointmentStatus: selectedStatud
                                }
                            };

                            $.ajax(options)
                                .done(function (data) {
                                    if (data["Success"]) {
                                        swal("Success", data["Success"][0], "success");
                                    } else if (data["OverDateAppointment"]) {
                                        swal("Already Cancelled", data["OverDateAppointment"][0], "info");
                                    } else if (data["Error"]) {
                                        swal("Error!", data["Error"][0], "error");
                                    } else if (data["NotFound"]) {
                                        swal("Not Found.", data["NotFound"][0], "info");
                                    }
                                })
                                .error(function (data) {
                                    swal("Connection Erorr!", "Sorry! An Error Occured While Connecting To The Server.", "error");
                                });
                        });
                    }
                });

            });
        });
    </script>
}