﻿@model ViewQueryMessageViewModel
@{
    ViewBag.Title = "Query Details";
    Page.Title = "Query Details - Posted On " + Model.PostedOn;
    Layout = "~/Views/Shared/_Laboratorists.cshtml";

    bool isAnswered = false;
    if (ViewData.ContainsKey("Success"))
    {
        isAnswered = (bool)ViewData["Success"];
    }

    bool isAlreadyAnswered = false;
    if (ViewData.ContainsKey("AlreadyAnswered"))
    {
        isAlreadyAnswered = (bool)ViewData["AlreadyAnswered"];
    }
}

@if (isAnswered)
{
    <div id="alertUser" class="hidden">
        <p id="header-message">Send!!</p>
        <p id="main-message">Answer is send via email and phone number.</p>
        <p id="alert-type">success</p>
        <p id="confirm-button-class"></p>
    </div>
}
else if (isAlreadyAnswered)
{
    <div id="alertUser" class="hidden">
        <p id="header-message">Already Answered!!</p>
        <p id="main-message">This answered against this query is already sent.</p>
        <p id="alert-type">info</p>
        <p id="confirm-button-class"></p>
    </div>
}


@if (Model.Errors != null && Model.Errors.Count > 0)
{
    <div class="panel panel-collapse">
        @foreach (string error in Model.Errors)
        {
            <div class="text-danger">@error</div>
        }
    </div>
}

@using (Html.BeginForm("QueryDetails", "HelpDesk", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.Id)

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Model.Name
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Model.Email
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PhoneNumber, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Model.PhoneNumber
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Question, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Model.Question
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Answer, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Answer, new { htmlAttributes = new { @class = "form-control" + (isAnswered ? " disabld" : ""), rows = 5 } })
                @Html.ValidationMessageFor(model => model.Answer, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                @if (!isAnswered)
                {
                    <input type="submit" value="Send." class="btn btn-default" />
                }
            </div>
        </div>
    </div>
}

