﻿@model PrescribedMeicalTestViewModel

@{ 
    Layout = null;
}

<tr>
    <td class="hidden">
        @Html.HiddenFor(model => model.ItemId)
    </td>
    <td>
        @Html.DisplayFor(model => model.TestName)
    </td>
    <td>
        <label class="RecommendedOn">@DateTime.Now.ToShortDateString()</label>
    </td>
    <td>
        @User.Identity.Name
    </td>
</tr>

