﻿@model PrescribedMedicinesViewmodel

@{
    Layout = null;
    var AddToPrescription = false;

    if (ViewData.Keys.Contains("AddToPrescription"))
    {
        AddToPrescription = (bool)ViewData["AddToPrescription"];
    }

    string formClass = "form-control" + (AddToPrescription ? " disabled" : "");
}

<tr>
    <td class="hidden">
        @Html.HiddenFor(modelItem => modelItem.MedicineId)
        @Html.HiddenFor(modelItem => modelItem.MedicineName)
        @Html.HiddenFor(modelItem => modelItem.MedicineFormula)
    </td>
    <td>
        @Html.DisplayFor(Model => Model.MedicineName)
    </td>
    <td>
        @Html.DisplayFor(Model => Model.MedicineFormula)
    </td>
    <td>
        @Html.TextBoxFor(Model => Model.Quantity, new { @class = "form-control", disabled = "disabled" })
    </td>
    <td>
        <select name="Time" class=@formClass>
            <option value="1">1</option>
            <option value="1+1">1+1</option>
            <option value="1+1+1">1+1+1</option>
            <option value="1+1+1+1">1+1+1+1</option>
        </select>
    </td>
    <td>
        @if (AddToPrescription)
        {
        @Html.TextBoxFor(Model => Model.NoOfDays, new { @class = formClass, disabled = "disabled", @readonly = "readonly" })
        }
        else
        {
        @Html.TextBoxFor(Model => Model.NoOfDays, new { @class = formClass })
        }
    </td>
    <td>
        <select name="Dosage" class=@formClass style="width:60px">
            <option value="1">1</option>
            <option value="2">2</option>
        </select>
    </td>
    <td>
        <label class="recommenedOn">
            @if (AddToPrescription)
            {
                @Model.When.ToShortDateString()
            }
            else
            {
                @DateTime.Now.ToShortDateString()
            }
        </label>
    </td>
    <td>
        @if (AddToPrescription)
        {
        <button type="button" class="btn btn-success addToPrescription">
            <i class="glyphicon glyphicon-plus"></i>
            Add To Prescription
        </button>
        }
    </td>
</tr>


