﻿@model PrescribedMedicinesViewmodel

<div class="form-horizontal">

    <div class="form-group">
        @Html.LabelFor(model => model.MedicineName, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.MedicineName)
            @Html.ValidationMessageFor(model => model.MedicineName)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.MedicineFormula, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.MedicineFormula)
            @Html.ValidationMessageFor(model => model.MedicineFormula)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Quantity, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Quantity)
            @Html.ValidationMessageFor(model => model.Quantity)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Time, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Time)
            @Html.ValidationMessageFor(model => model.Time)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.NoOfDays, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.NoOfDays)
            @Html.ValidationMessageFor(model => model.NoOfDays)
        </div>
    </div>
</div>
