﻿@model IEnumerable<PrescribedMedicinesViewmodel>

<table class="table table-responsive">
    <thead>
        <tr>
            <th>
                Medicine Name
            </th>
            <th>
                Medidicne Formula
            </th>
            <th>
                Quantity
            </th>
            <th>
                Time
            </th>
            <th>
                No. Of Days
            </th>
            <th>
                Dosage
            </th>
            <th>
                Prescribed On
            </th>
            <th>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            @Html.Partial("_PrescriptionSearch", item)
        }
    </tbody>
</table>

