﻿@model PrescribiedTestResultViewModel

<table class="table table-responsive table-striped">
    <thead>
        <tr>
            <th>Test Name</th>
            <th>Prescribed Date</th>
            <th>Prescribed By</th>
            <th>Status</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model.AllTests)
        {
            <tr>
                <td class="hidden">
                    @Html.HiddenFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MedicalTestType.Name)
                </td>
                <td>
                    <label class="recommenedOn">@item.PrescribedOn.Date.ToShortDateString()</label>
                </td>
                <td>
                    <label class="prescribedBy">@item.Prescription.Doctor.User.Name</label>
                </td>
                <td class="resultStatus">
                    @item.Status.ToString()
                </td>
                <td>
                    <button type="button" class="btn btn-primary" name="addToPrescription">
                        <i class="glyphicon glyphicon-plus"></i>
                        Add To Prescription!
                    </button>
                </td>
            </tr>
        }

        @foreach (var item in Model.BloodCpTests)
        {
            <tr>
                <td class="hidden">
                    <input type="hidden" name="ItemId" value="@((int)TestTypes.BloodCP)" />
                </td>
                <td>
                    Blood CP
                </td>
                <td>
                    <label class="recommenedOn">@item.Prescription.Date.ToShortDateString()</label>
                </td>
                <td>
                    <label class="prescribedBy">@item.Prescription.Doctor.User.Name</label>
                </td>
                <td class="resultStatus">
                    Normal Range: 3.3-7.8 mg/dl  
                    Result Value:  @item.Glucose2HRSABF
                </td>
                <td>
                    <button type="button" class="btn btn-primary" name="addToPrescription">
                        <i class="glyphicon glyphicon-plus"></i>
                        Add To Prescription!
                    </button>
                </td>
            </tr>
        }

        @foreach (var item in Model.CalciumTests)
        {
            <tr>
                <td class="hidden">
                    <input type="hidden" name="ItemId" value="@((int)TestTypes.Calcuim)" />
                </td>
                <td>
                    Calcium
                </td>
                <td>
                    <label class="recommenedOn">@item.Prescription.Date.ToShortDateString()</label>
                </td>
                <td>
                    <label class="prescribedBy">@item.Prescription.Doctor.User.Name</label>
                </td>
                <td class="resultStatus">
                    Normal Range: 8.6-10.3 mg/dl 
                    Result Value: @item.calcium1 @item.calciumUnit
                </td>
                <td>
                    <button type="button" class="btn btn-primary" name="addToPrescription">
                        <i class="glyphicon glyphicon-plus"></i>
                        Add To Prescription!
                    </button>
                </td>
            </tr>
        }

        @foreach (var item in Model.CrossMatchTests)
        {
            <tr>
                <td class="hidden">
                    <input type="hidden" name="ItemId" value="@((int)TestTypes.CrossMatch)" />
                </td>
                <td>
                    Cross Match
                </td>
                <td>
                    <label class="recommenedOn">@item.Prescription.Date.ToShortDateString()</label>
                </td>
                <td>
                    <label class="prescribedBy">@item.Prescription.Doctor.User.Name</label>
                </td>
                <td class="resultStatus">
                    Normal Range: Not Defined <br />
                    Result Value: <br />
                    Age Of Donor: @item.AgeOfDonor <br />
                    Blood Bag NO: @item.BloodBagNO <br />
                    Cross Match: @item.CrossMatchValue <br />
                    MRN Of Donor: @item.MRNOfDonor <br />
                    Name Of Donor: @item.NameOfDonor <br />
                    Patient Blood Group: @item.PatientBloodGroup <br />
                    Relation Of Donor With Patient: @item.RelationOfDonorWithPatient <br />
                </td>
                <td>
                    <button type="button" class="btn btn-primary" name="addToPrescription">
                        <i class="glyphicon glyphicon-plus"></i>
                        Add To Prescription!
                    </button>
                </td>
            </tr>
        }

        @foreach (var item in Model.TftTests)
        {
            <tr>
                <td class="hidden">
                    <input type="hidden" name="ItemId" value="@((int)TestTypes.TFT)" />
                </td>
                <td>
                    TFT
                </td>
                <td>
                    <label class="recommenedOn">@item.Prescription.Date.ToShortDateString()</label>
                </td>
                <td>
                    <label class="prescribedBy">@item.Prescription.Doctor.User.Name</label>
                </td>
                <td class="resultStatus">
                    Normal Range: 40-181 mg/dl 
                    Total T3: @item.TotalT3 @item.TotalT3Unit
                    Total T4: @item.TotalT4 @item.TotalT4Unit
                    TSH: @item.TSH @item.TSHUnit

                </td>
                <td>
                    <button type="button" class="btn btn-primary" name="addToPrescription">
                        <i class="glyphicon glyphicon-plus"></i>
                        Add To Prescription!
                    </button>
                </td>
            </tr>
        }
    </tbody>

</table>

