﻿@model IEnumerable<Patient>

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_DashboardDoctorLayout.cshtml";
}

<h2>Edit</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@foreach (var Id in Model)
{
    <div>@Id.Id</div>
}

@*<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Quantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Time)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NoOfDays)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Medicine.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Prescription.Id)
        </th>
        <th></th>
    </tr>



</table>*@
