﻿@model PrescribeSendModel
@{
    Layout = null;
}

<style type="text/css">
    .id {
        margin-left: 70px;
    }

    .idd {
        margin-left: 48px;
    }

    #blood ul {
        /*width: 80px;*/
        height: 40px;
        background-color: #D2D2D2;
        box-shadow: 10px 10px 5px #D2D2D2;
    }

    .nav-pills > .active > a {
        text-decoration: none;
        font-weight: bold;
        border-radius: 4px;
        border-bottom-width: 0px;
        border-bottom-style: solid;
        border-bottom-color: #005566;
        color: black;
        !important;
        background-color: transparent;
    }

        .nav-pills > .active > a:hover {
            text-decoration: none;
            font-weight: bold;
            border-radius: 4px;
            border-bottom-width: 1px;
            border-bottom-style: solid;
            border-bottom-color: #005566;
            color: black;
            !important;
            background-color: transparent;
            #005566;
        }

    .nav-pills > li > a {
        border-radius: 5px;
    }
</style>
<div id="blood">
    <ul class="nav nav-pills nav-justified">
        <li class="active">
            <a data-toggle="pill" href="#bloodPressure">Blood Pressure</a>
        </li>
        <li>
            <a data-toggle="pill" href="#sugar">Sugar </a>
        </li>
        <li>
            <a data-toggle="pill" href="#heartRate">Heart Rate</a>
        </li>
        <li>
            <a data-toggle="pill" href="#heightWeight">Height / Weight</a>
        </li>
    </ul>
</div>
<div class="tab-content">
    <div id="bloodPressure" class="tab-pane fade in active">
        <div class="panel-body">
            <div class="col-md-6">
                <div class="input-group">
                    <span for="bloodLow" class="input-group-addon">
                        Low Value &nbsp;&nbsp;
                        @*@Html.CheckBoxFor(modelItem => Model.GenralTests.BloodPressue.HasBloodLow, new { data_ppims_enable = "select[name='model.GenralTests.BloodPressue.BloodLowValue']", Name = "model.GenralTests.BloodPressue.HasBloodLow" })*@
                    </span>
                    <select class="form-control" name="model.GenralTests.BloodPressue.BloodLowValue">
                        @for (int i = 40; i < 120; i += 5)
                        {
                            <option value="@i">@i</option>
                        }
                    </select>
                </div>
            </div>

            <div class="col-md-6">
                <div class="input-group">
                    <span for="bloodHigh" class="input-group-addon">
                        High Value &nbsp;&nbsp;
                        @*@Html.CheckBoxFor(modelItem => Model.GenralTests.BloodPressue.HasBloodHigh, new { data_ppims_enable = "select[name='model.GenralTests.BloodPressue.BloodHighValue']", Name = "model.GenralTests.BloodPressue.HasBloodHigh" })*@
                    </span>
                    <select class="form-control" name="model.GenralTests.BloodPressue.BloodHighValue">
                        @for (int i = 120; i <= 190; i += 5)
                        {
                            <option value="@i">@i</option>
                        }
                    </select>
                </div>
            </div>
        </div>
    </div>

    <div id="sugar" class="tab-pane fade">
        <div class="panel-body">
            <div class="col-md-6">
                <div class="input-group">
                    <span for="fasting" class="input-group-addon">
                        Fasting &nbsp;&nbsp;
                        @*@Html.CheckBoxFor(modelItem => Model.GenralTests.SugarTest.HasFasting,
                            new { data_ppims_enable = "select[name='model.GenralTests.SugarTest.FastingValue']", Name = "model.GenralTests.SugarTest.HasFasting" })*@
                    </span>
                    <select class="form-control" name="model.GenralTests.SugarTest.FastingValue">
                        @for (int i = 0; i <= 100; i += 10)
                        {
                            <option value="@i">@i</option>
                        }
                    </select>
                </div>
            </div>

            <div class="col-md-6">
                <div class="input-group">
                    <span for="beforeMeal" class="input-group-addon">
                        Before Meal &nbsp;&nbsp;
                        @*@Html.CheckBoxFor(modelItem => Model.GenralTests.SugarTest.HasBeforeMeal,
                            new { data_ppims_enable = "select[name='model.GenralTests.SugarTest.BeforeMealValue']", Name = "model.GenralTests.SugarTest.HasBeforeMeal" })*@
                    </span>
                    <select class="form-control" name="model.GenralTests.SugarTest.BeforeMealValue">
                        @for (int i = 70; i <= 130; i += 5)
                        {
                            <option value="@i">@i</option>
                        }
                    </select>
                </div>
            </div>
        </div>
    </div>

    <div id="heartRate" class="tab-pane fade">
        <div class="panel-body">
            <div class="col-md-12">
                <div class="input-group">
                    <span for="heartRate" class="input-group-addon">
                        Beats Per Min: &nbsp;&nbsp;
                        @*@Html.CheckBoxFor(modelItem => Model.GenralTests.HeartRate.HasValue,
                            new { data_ppims_enable = "select[name='model.GenralTests.HeartRate.HeartRate']", Name = "model.GenralTests.HeartRate.HasValue" })*@
                    </span>
                    <select class="form-control" name="model.GenralTests.HeartRate.HeartRate">
                        @for (int i = 40; i < 120; i += 5)
                        {
                            <option value="@i">@i</option>
                        }
                    </select>
                </div>
            </div>
        </div>
    </div>

    <div id="heightWeight" class="tab-pane fade">
        <div class="panel-body">
            <div class="col-md-6">
                <div class="input-group">
                    <span for="bloodLow" class="input-group-addon">
                        Height &nbsp;&nbsp;
                        @*@Html.CheckBoxFor(modelItem => Model.GenralTests.HeightWeight.HasHeightValue, new { data_ppims_enable = "select[name='model.GenralTests.HeightWeight.HeightValue']", Name = "model.GenralTests.HeightWeight.HasHeightValue" })*@
                    </span>
                    <select class="form-control" name="model.GenralTests.HeightWeight.HeightValue">
                        @for (double i = 4.0; i <= 6.0; i += .1)
                        {
                            <option value="@i">@string.Format("{0:0.00}", i)</option>
                        }
                    </select>
                </div>
            </div>

            <div class="col-md-6">
                <div class="input-group">
                    <span for="bloodHigh" class="input-group-addon">
                        Weight &nbsp;&nbsp;
                        @*@Html.CheckBoxFor(modelItem => Model.GenralTests.HeightWeight.HasWeightValue, new { data_ppims_enable = "select[name='model.GenralTests.HeightWeight.WeightValue']", Name = "model.GenralTests.HeightWeight.HasWeightValue" })*@
                    </span>
                    <select class="form-control" name="model.GenralTests.HeightWeight.WeightValue">
                        @for (int i = 20; i <= 150; i += 5)
                        {
                            <option value="@i">@i kg</option>
                        }
                    </select>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="clearfix"></div>

<div class="well" style="margin-top: 1em;">
    <div class="">
        <h3 style="font-weight: bold;">Description</h3>
        <textarea class="form-control" rows="5" id="comment"></textarea>
    </div>
</div>


