﻿
@model A

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.m1.ElementAt(0).medicine_name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.m1.ElementAt(0).medicine_time)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.m1.ElementAt(0).medicine_noOfday)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.m1.ElementAt(0).medicine_quantity)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.m1)
        {
            <tr>
                <td>
                    @Html.HiddenFor(modelItem => item.medicine_name)
                    @Html.DisplayFor(modelItem => item.medicine_name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.medicine_time)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.medicine_noOfday)
                </td>
                <td>
                    @Html.HiddenFor(modelItem => item.medicine_quantity)
                    @Html.EditorFor(modelItem => item.medicine_quantity, new { @class = "quantity_box" })
                </td>
            </tr>
        }
    </tbody>
</table>

