﻿<link href="~/Content/doctor.css" rel="stylesheet" />
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_DashboardDoctorLayout.cshtml";
    Page.Title = "Patient Prescription";

    bool isAdded = false;

    if (ViewData.Keys.Contains("Added"))
    {
        isAdded = (bool)ViewData["Added"];
    }

    var noPatientFound = false;
    if (ViewData.Keys.Contains("NoPatientFound"))
    {
        noPatientFound = (bool)ViewData["NoPatientFound"];
    }

    var hasAppointment = true;
    if(ViewData.Keys.Contains("HasAppointment"))
    {
        hasAppointment = (bool)ViewData["HasAppointment"];
    }
}

@if (isAdded)
{
    <div class="hidden" id="alertUser">
        <p id="header-message">Updated</p>
        <p id="main-message">Prescription Is Added</p>
        <p id="alert-type">success</p>
        <p id="confirm-button-class">btn-success</p>
    </div>
}
else if (noPatientFound)
{
    <div class="hidden" id="alertUser">
        <p id="header-message">Not Found</p>
        <p id="main-message">No Patient Is Found Against The Id.</p>
        <p id="alert-type">info</p>
        <p id="confirm-button-class">btn-info</p>
    </div>
}
else if (!hasAppointment)
{
    <div class="hidden" id="alertUser">
        <p id="header-message">No Appointment.</p>
        <p id="main-message">this Patient Has no appointment with you.</p>
        <p id="alert-type">info</p>
        <p id="confirm-button-class">btn-info</p>
    </div>
}

<div class="viewPatient_top">
    <h4>Search Patient</h4>

    @using (Html.BeginForm("Index", "Prescriptions", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        <div class="input-group">
            <input type="text" name="patientId" class="search-form" placeholder="Enter Patient Id"><span class="input-group-btn"></span>
            <button class="btn btn-default btn-round">Next</button>
        </div>
    }

</div>
