﻿@model PrescribeSendModel

@{
    ViewBag.Title = "ReceivedModel";
    Layout = "~/Views/Shared/_DashboardDoctorLayout.cshtml";
    Page.Title = "Prescription";
    <script src="~/Scripts/Tabs/modernizr-tabs.js"></script>
}

<div class="col-md-11">
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-primary">
            <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#accordion" aria-expanded="true" aria-controls="collapseOne">
                        Personal Information
                    </a>
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">
                    <div class="col-md-6">
                        <div class="personal-info">
                            <label class="ok">Patient ID:</label>
                            <label>@Model.PatientId</label>
                            <br />
                            <label class="pk">Patient Name:</label>
                            <label>@Model.PatientName</label>
                            <br />
                            <label class="pkk">Gender:</label>
                            <label>@Model.Gender</label>
                            <br />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="personal-info">
                            <label class="ok">Doctor Name:</label>
                            <label>@Model.DoctorName</label>
                            <br />
                            <label class="ok">Department Name:</label>
                            <label>@Model.DoctorDepartment</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div>
    @using (Html.BeginForm("AddPrescription", "Prescriptions", FormMethod.Post))
    {
        <div class="hidden">
            @Html.AntiForgeryToken()
            @Html.HiddenFor(model => model.PatientId)
            @Html.HiddenFor(model => model.DoctorId)
        </div>

        <div class="col-md-11" style="margin-top: 1.2em;">
            @Html.Partial("GeneralTest", Model)

            <div id="btnNextStep" style="margin-top: 1.2em;">
                <button type="button" class="btn btn-primary btn-lg" id="btnPrescribeLabTest" data-ppims-target="LabTests">Prescribe Lab Test</button>
                <button type="button" class="btn btn-primary btn-lg" id="btnPrescribeMedicine" data-ppims-target="Prescription">Prescribe Medicine</button>
            </div>

            <!-- LabTests -->
            <div class="well hidden" style="margin-top: 1em;" id="LabTests">
                <div>
                    <div class="form-group">
                        <div class="col-md-4">
                            <input type="search" name="Name" class="form-control" placeholder="Enter Medical Test Name"
                                   data-ppims-autocomplete="@Url.Action("SearchMedicalTest", "Prescriptions")"
                                   data-ppims-autocomplete-select="@Url.Action("GetMedicalTestById", "Prescriptions")"
                                   data-ppims-target="#prescribed-test-panel table tbody"
                                   data-ppims-model="model.PrescribedTestsByDoctor" />
                        </div>
                        <div class="col-md-4">
                            <a data-ppims-toogle="div#LabTestsHistory, a.one[data-ppims-target='div.hidden#Prescription']" href="#">View Test History!</a>
                        </div>
                        <div id="prescribed-test-panel">
                            <table class="table table-responsive table-striped">
                                <thead>
                                    <tr>
                                        <th>Test Name</th>
                                        <th>Prescribed Date</th>
                                        <th>Prescribed By</th>
                                    </tr>
                                </thead>

                                <tbody></tbody>
                            </table>
                        </div>
                    </div>

                    <div class="form-group">
                        <a data-ppims-target="div.hidden#Prescription" data-ppims-close="div.well#LabTests" class="btn btn-info btn-lg one">Prescription</a>
                    </div>
                </div>

                <!-- LabTestsHitory -->
                <div id="LabTestsHistory" class="hidden">
                    <div id="Tests" class="">
                        @Html.Partial("_ShowMedicalTests", Model.AllTestsWithResults)
                    </div>
                    <div class="form-group">
                        <a class="btn btn-info btn-lg" data-ppims-toogle="div#LabTestsHistory, a.one[data-ppims-target='div.hidden#Prescription']">Close Lab History</a>
                        <a data-ppims-target="div.hidden#Prescription" data-ppims-close="div.well#LabTests" class="btn btn-info btn-lg">Prescription</a>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <!-- // LabTestsHitory -->

                <div class="clearfix"></div>
            </div>
            <!-- // LabTests -->
            <!-- Prescription -->
            <div class="well hidden" id="Prescription" style="margin-top: 1.2em;">
                <div id="Addprescription" class="tab-pane fade in active">
                    <div id="Medicine">
                        <div id="prescribed-medicines-panel">
                            <div>
                                <div class="form-group">
                                    <div class="col-md-4">
                                        <input type="search" name="Name" class="form-control" placeholder="Enter Medicine Name"
                                               data-ppims-autocomplete="@Url.Action("SearchMedicines", "Prescriptions")"
                                               data-ppims-autocomplete-select="@Url.Action("GetMedicineById", "Prescriptions")"
                                               data-ppims-target="#prescribed-medicines-panel table tbody"
                                               data-ppims-model="model.PrescribedMedicinesByDoctor" />
                                    </div>
                                    <div class="col-md-4">
                                        <a data-ppims-toogle="div#PrescriptionHistory, a#btnLabTest.two, button.two[name='btnFinish']" href="#">View Medicine History!</a>
                                        @*<a data-ppims-toogle="div#PrescriptionHistory" href="#">View Medicine History!</a>*@
                                    </div>
                                </div>
                            </div>

                            @{ ViewData["AddToPrescription"] = false; }
                            @Html.Partial("_PrescriptionCreate", new List<PrescribedMedicinesViewmodel>())
                        </div>

                        <div class="min-margin-top">
                            <div class="form-group">
                                <a data-ppims-target="div.hidden#LabTests" data-ppims-close="div#Prescription" class="btn btn-info btn-lg pull-left two" id="btnLabTest">Lab Tests!</a>
                                <button type="submit" class="btn btn-info btn-lg pull-right two" name="btnFinish">Finish</button>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>

                <div id="PrescriptionHistory" class="hidden">
                    <div id="Prescriptions">
                        <div id="previous-prescribed-medicines">
                            @{ ViewData["AddToPrescription"] = true; }
                            @Html.Partial("_PrescriptionCreate", Model.PrescribedMedicinesByDoctor)
                        </div>
                        <div class="form-group">
                            <a class="btn btn-info pull-left btn-lg" data-ppims-toogle="div#PrescriptionHistory, a#btnLabTest.two, button.two[name='btnFinish']">Close Medicine History</a>
                            <a data-ppims-target="div.hidden#LabTests" data-ppims-close="div#Prescription" class="btn btn-info btn-lg pull-left" id="btnLabTest">Lab Tests!</a>
                            <button type="submit" class="btn btn-info btn-lg pull-right" name="btnFinish">Finish</button>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
            <!-- // Prescription -->
        </div>
                                }
</div>

<div class="clearfix"></div>


