﻿@model IEnumerable<Appointment>

@{
    ViewBag.Title = "ViewAppointments";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ViewAppointments</h2>

<div class="min-top-margin min-heigth-box">
    <table class="table table-hover">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Time)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AppointmentNo)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Time)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Cancel", "Delete", new { id = item.Id })
                </td>
            </tr>
        }
    </table>
</div>

