﻿
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>@Page.Title</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/searching.css" rel="stylesheet" />
    <link href="~/Scripts/jquery-ui.css" rel="stylesheet" />
    <link href="~/Scripts/jquery-ui.theme.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.css" rel="stylesheet" />
</head>
<body class="notransition">
    <div class="container">
        <div class="row">
            <div id="bill_header">
                <header>
                    <p>Nazeeran Clinic Information System </p>
                    <div id="top_name"><i class="glyphicon glyphicon-user"></i> Pharmacist</div>
                </header>
            </div>
        </div>
    </div>
    <div class="container body-content1">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Nazeeran Clinic</p>
        </footer>
    </div>
</body>
</html>
