﻿@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>

    @Scripts.Render("~/Content/modernizr")
    @Styles.Render("~/Content/bootstrap_css")
    @Styles.Render("~/Content/jquery_ui_css")
    @Styles.Render("~/Content/animation_css")
    <link href="~/Content/jquery-ui.min.css" rel="stylesheet" />
    @Styles.Render("~/Content/custom_css")
</head>
<body>
    <div class="container">
        <div class="row">
            <header>
                <button id="sidebarToggle" class="glyphicon glyphicon-align-right"></button>
                <a href="#">Nazeeran Clinic Information System</a>
                <div id="top_name"><i class="glyphicon glyphicon-user"></i> Doctor</div>
            </header>
        </div>
        <nav class="pdsa-sn-wrapper">
            <ul id="sideNavParent">
                <li class="pdsa-sn-brand">
                    <a href="#" class="visible-sm visible-md visible-lg">
                        <img src="~/Images/logo.png"><p>Nazeeran Clinic</p>
                    </a>
                </li>
                <li class="pdsa-sn-brand1">
                    <a href="#" class="visible-sm visible-md visible-lg">
                        <img src="~/Images/AQIB.png"><p><small>Welcome,</small><br />@User.Identity.Name</p>
                    </a>
                </li>
                <li class="ab">
                    <a href="~/DoctorSchedule">
                        <span class="visible-sm visible-md visible-lg sidebar-list-text">Dashboard</span>
                        <i class="glyphicon glyphicon-home sidebar-list-img" id="ab1"></i>
                    </a>
                </li>
                <li class="ab">
                    <a href="~/Prescriptions">
                        <span class="visible-sm visible-md visible-lg sidebar-list-text">Prescription</span>
                        <i class="glyphicon glyphicon-plus-sign"></i>
                    </a>
                </li>
                <li class="ab">
                    <a href="@Url.Action("ViewAllAppointments", "DoctorSchedule")">
                        <span class="visible-sm visible-md visible-lg sidebar-list-text">Appointments</span>
                        <i class="glyphicon glyphicon-list-alt sidebar-list-img" id="ab1"></i>
                    </a>
                </li>
                <li class="ab">
                    <a href="@Url.Action("Index", "ChatRoom")">
                        <span class="visible-sm visible-md visible-lg sidebar-list-text">Chat Room</span>
                        <i class="glyphicon glyphicon-home sidebar-list-img" id="ab1"></i>
                    </a>
                </li>
                <li class="ab">
                    @using (Html.BeginForm("LogOff", "Account", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        <a href="#" id="btnLogOff">
                            <span class="visible-sm visible-md visible-lg sidebar-list-text">Log out</span>
                            <i class="glyphicon glyphicon-log-out"></i>
                        </a>
                    }
                </li>
            </ul>
        </nav>
    </div>

    <div class="container body-content">
        <div class="row" id="top_dash"><i class="fa fa-arrow-circle-o-right"></i> @Page.Title</div>
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Nazeeran Clinic</p>
        </footer>
    </div>

    @Scripts.Render("~/Content/bootstrap_js")
    @Scripts.Render("~/Content/jquery_ui_js")
    @Scripts.Render("~/Content/jqueryval")
    @Scripts.Render("~/Content/animation_js")
    @Scripts.Render("~/Content/custom_js")
    <script src="~/Scripts/search.js"></script>
    <script src="~/Scripts/jquery-ui.min.js"></script>
    <script src="~/Scripts/jquery.signalR-2.2.2.js"></script>
    <script src="~/SignalR/hubs"></script>
    @RenderSection("Scripts", required: false)
    <script>
        $(function () {
            var chat = $.connection.chatHub;
            $.connection.hub.start()
                .done(function () {
                    $.connection.chatHub.server.connect().done(function (data) {
                        if (typeof (ManageChat) != "undefined")
                            ManageChat();
                    });
                })
                .fail(function () {
                    console.log("fail");
                });
        });
    </script>
</body>
</html>




