﻿@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>

    @Scripts.Render("~/Content/modernizr")
    @Styles.Render("~/Content/bootstrap_css")
    @Styles.Render("~/Content/jquery_ui_css")
    @Styles.Render("~/Content/animation_css")
    @Styles.Render("~/Content/custom_css")
</head>
<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false"></button>
                <a class="navbar-brand" href="#"><img src="~/Images/logo.png" height="60"></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <form class="navbar-form navbar-right">

                    <button type="submit" class="btn btn-primary">Log Out <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span></button>
                </form>
            </div>
            <!-- /.container-fluid -->
        </div>
    </nav>

    <div class="row">
        <div class="col-md-2">
            <div class="list-group intro-panel">
                <div class="list-group-item list-group-item-success">
                    <div class="col-md-4">
                        <img src="~/Images/logo.png" height="60">
                    </div>
                    <div class="col-md-8">
                        Welcome, Mr. @User.Identity.Name
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div>
                <div class="panel-group sidebar" id="accordion">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#Profile">Profile</a>
                            </h4>
                        </div>
                        <div id="Profile" class="panel-collapse collapse in">
                            <ul class="list-group">
                                <li><a href="@Url.Action("Index", "Manage")" class="list-group-item">Settings</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#Appointments">Appointments</a>
                            </h4>
                        </div>
                        <div id="Appointments" class="panel-collapse collapse">
                            <ul class="list-group">
                                <li><a href="@Url.Action("ViewSchedule", "GetAppointment")" class="list-group-item">Book Appointment</a></li>
                                <li><a href="@Url.Action("All", "GetAppointment")" class="list-group-item">View All</a></li>
                                <li><a href="@Url.Action("Cancel", "GetAppointment")" class="list-group-item">Cancel</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordian" href="#Account">Account</a>
                            </h4>
                        </div>
                        <div id="Account" class="panel-collapse collapse">
                            <ul class="list-group">
                                <li>
                                    @using (Html.BeginForm("LogOff", "Account", FormMethod.Post))
                                    {
                                        @Html.AntiForgeryToken()
                                        <input type="submit" class="list-group-item" value="Log Out" />
                                    }
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="min-heigth-box col-md-9">
            @RenderBody()
        </div>
    </div>

    @Scripts.Render("~/Content/bootstrap_js")
    @Scripts.Render("~/Content/jquery_ui_js")
    @Scripts.Render("~/Content/jqueryval")
    @Scripts.Render("~/Content/custom_js")
    <script src="~/Scripts/jquery.signalR-2.2.2.js"></script>
    <script>
        $(function () {
            var hub = $.connection.chatHub;

            hub.Connect();
        });
    </script>
</body>
</html>





