﻿@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>

    <link href="~/Content/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/Content/jquery-ui.theme.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/searching.css" rel="stylesheet" />
    <link href="~/Content/pdsa-sidebar.css" rel="stylesheet" />
    <link href="~/Content/pdsa-summary-block.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.css" rel="stylesheet" />

    @*@Scripts.Render("~/Content/modernizr")
        @Styles.Render("~/Content/bootstrap_css")
        @Styles.Render("~/Content/jquery_ui_css")
        @Styles.Render("~/Content/animation_css")
        @Styles.Render("~/Content/custom_css")*@
</head>
<body>
    <div class="container">
        <div class="row">
            <header>
                <button id="sidebarToggle" class="glyphicon glyphicon-align-right"></button>
                <a href="#">Nazeeran Clinic Information System</a>
                <div id="top_name"><i class="glyphicon glyphicon-user"></i> Admin</div>
            </header>
        </div>
        <nav class="pdsa-sn-wrapper">
            <ul id="sideNavParent">
                <li class="pdsa-sn-brand">
                    <a href="#" class="visible-sm visible-md visible-lg">
                        <img src="~/Images/logo.png"><p>Nazeeran Clinic</p>
                    </a>
                </li>
                <li class="pdsa-sn-brand1">
                    <a href="#" class="visible-sm visible-md visible-lg">
                        <img src="~/Images/AQIB.png"><p><small>Welcome,</small><br />@User.Identity.Name</p>
                    </a>
                </li>
                <li class="ab">
                    <a href="@Url.Action("Index", "Admin")">
                        <span class="visible-sm visible-md visible-lg sidebar-list-text">Dashboard</span>
                        <i class="glyphicon glyphicon-home sidebar-list-img" id="ab1"></i>
                    </a>
                </li>
                <li class="ab">
                    <a href="#"
                       data-toggle="collapse"
                       data-target="#ulDoctor">
                        <span class="visible-sm visible-md visible-lg sidebar-list-text">Doctor&nbsp;<b class="caret"></b></span>
                        <i class="glyphicon glyphicon-plus-sign"></i>
                    </a>
                    <div class="visible-sm visible-md visible-lg">
                        <ul id="ulDoctor" class="collapse" data-parent="sideNavParent">
                            <li>
                                <a href="~/admin/AddDoctor">Add Doctor</a>
                            </li>
                            <li>
                                <a href="~/admin/ViewDoctor">View Doctor</a>
                            </li>

                        </ul>
                    </div>
                </li>
                <li class="ab">
                    <a href="#"
                       data-toggle="collapse"
                       data-target="#ulDepartment">
                        <span class="visible-sm visible-md visible-lg sidebar-list-text">Department&nbsp;<b class="caret"></b></span>
                        <i class="glyphicon glyphicon-edit"></i>
                    </a>
                    <div class="visible-sm visible-md visible-lg">
                        <ul id="ulDepartment" class="collapse" data-parent="sideNavParent">
                            <li>
                                <a href="~/admin/AddDepartment">Add Department</a>
                            </li>
                            <li>
                                <a href="~/admin/ViewAllDepartment">View Department</a>
                            </li>

                        </ul>
                    </div>
                </li>
                <li class="ab">
                    <a href="#"
                       data-toggle="collapse"
                       data-target="#ulPharmacist">
                        <span class="visible-sm visible-md visible-lg sidebar-list-text">Pharmacist&nbsp;<b class="caret"></b></span>
                        <i class="glyphicon glyphicon-list-alt"></i>
                    </a>
                    <div class="visible-sm visible-md visible-lg">
                        <ul id="ulPharmacist" class="collapse" data-parent="sideNavParent">
                            <li>
                                <a href="~/admin/AddPerson?userRole=Pharmacist">Add Pharmacist</a>
                            </li>
                            <li>
                                <a href="@Url.Action("ViewAll", "Admin", new { userRole = UserRoles.Pharmacist.ToString() })">View Pharmacist</a>
                            </li>

                        </ul>
                    </div>
                </li>
                <li class="ab">
                    <a href="#"
                       data-toggle="collapse"
                       data-target="#ulLaboratorist">
                        <span class="visible-sm visible-md visible-lg sidebar-list-text">Laboratorist&nbsp;<b class="caret"></b></span>
                        <i class="glyphicon glyphicon-glass"></i>
                    </a>
                    <div class="visible-sm visible-md visible-lg">
                        <ul id="ulLaboratorist" class="collapse" data-parent="sideNavParent">
                            <li>
                                <a href="~/admin/AddPerson?userRole=LabAttendent">Add Laboratorist</a>
                            </li>
                            <li>
                                <a href="@Url.Action("ViewAll", "Admin", new { userRole = UserRoles.LabAttendent.ToString() })">View Laboratorist</a>
                            </li>

                        </ul>
                    </div>
                </li>
                <li class="ab">
                    <a href="#"
                       data-toggle="collapse"
                       data-target="#ulHelpDesk">
                        <span class="visible-sm visible-md visible-lg sidebar-list-text">Receptionist&nbsp;<b class="caret"></b></span>
                        <i class="glyphicon glyphicon-glass"></i>
                    </a>
                    <div class="visible-sm visible-md visible-lg">
                        <ul id="ulHelpDesk" class="collapse" data-parent="sideNavParent">
                            <li>
                                <a href="~/admin/AddPerson?userRole=HelpDesk">Add Receptionist</a>
                            </li>
                            <li>
                                <a href="@Url.Action("ViewAll", "Admin", new { userRole = UserRoles.HelpDesk.ToString() })">View Receptionist</a>
                            </li>

                        </ul>
                    </div>
                </li>
                <li class="ab">
                    <a href="@Url.Action("Index", "ChatRoom")">
                        <span class="visible-sm visible-md visible-lg sidebar-list-text">Chat Room</span>
                        <i class="glyphicon glyphicon-home sidebar-list-img" id="ab1"></i>
                    </a>
                </li>

                @*<li class="ab">
                        <a href="#"
                           data-toggle="collapse"
                           data-target="#ulReceptionist">
                            <span class="visible-sm visible-md visible-lg sidebar-list-text">Receptionist&nbsp;<b class="caret"></b></span>
                            <i class="glyphicon glyphicon-pencil"></i>
                        </a>
                        <div class="visible-sm visible-md visible-lg">
                            <ul id="ulReceptionist" class="collapse" data-parent="sideNavParent">
                                <li>
                                    <a href="@Url.Action("AddPerson", "Admin", new { userRole = UserRoles.HelpDesk.ToString() })">Add Receptionist</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("ViewAll", "Admin", new { userRole = UserRoles.HelpDesk.ToString() })">View Receptionist</a>
                                </li>

                            </ul>
                        </div>
                    </li>*@
                <li class="ab">
                    @using (Html.BeginForm("LogOff", "Account", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        <a href="#" id="btnLogOff">
                            <span class="visible-sm visible-md visible-lg sidebar-list-text">Log out</span>
                            <i class="glyphicon glyphicon-log-out"></i>
                        </a>
                    }
                </li>
            </ul>
        </nav>
    </div>

    <div class="container body-content">
        <div class="row" id="top_dash"><i class="fa fa-arrow-circle-o-right"></i> @Page.Title</div>
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Nazeeran Clinic</p>
        </footer>
    </div>

    @Scripts.Render("~/Content/bootstrap_js")
    @Scripts.Render("~/Content/jquery_ui_js")
    @Scripts.Render("~/Content/jqueryval")
    @Scripts.Render("~/Content/animation_js")
    @Scripts.Render("~/Content/custom_js")
    <script src="~/Scripts/jquery.signalR-2.2.2.js"></script>
    <script src="~/SignalR/hubs"></script>
    @RenderSection("Scripts", required: false)
    <script>
        $(function () {
            var chat = $.connection.chatHub;
            $.connection.hub.start()
                .done(function () {
                    $.connection.chatHub.server.connect().done(function (data) {
                        if (typeof (ManageChat) != "undefined")
                            ManageChat();
                    });
                })
                .fail(function () {
                    console.log("fail");
                });
        });
    </script>
</body>
</html>




