﻿@model IList<string>

@if (Model != null && Model.Count > 0)
{
    <div class="alert alert-danger alert-dismissable fade in">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        @MvcHtmlString.Create(string.Join("<br/>", Model.ToArray()))
    </div>
}
