﻿<div class="summary-body">
    <div class="summary-line1">@ViewBag.NoOfMedicines</div>
    <div class="summary-line2">Expiry Threshold</div>
</div>
<div class="summary-footer">
    <a href="~/Medicine/ShowExpiredMedicines">View Expire Threshold<i class="glyphicon glyphicon-chevron-right pull-right"></i></a>
</div>