﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Nazeeran Hospital</title>

    @Scripts.Render("~/Content/modernizr")
    @Styles.Render("~/Content/bootstrap_css")
    @Styles.Render("~/Content/theme_css")
    @Styles.Render("~/Content/jquery_ui_css")
    @Styles.Render("~/Content/animation_css")
    @Styles.Render("~/Content/custom_css")
</head>
<body>
    <!--header-->
    <div class="header">
        <div class="container">
            <div class="header-logo">
                <a href="~/Home/Index"><img src="~/Images/logo.png" alt="logo" width="100" height="100" /></a>
                <a href="#" id="header1">Nazeeran Clinic Information System</a>
            </div>
            <div class="header-info">
                <p>Information Service:</p>
                <h4>051 - 252 526 5</h4>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
    <!--//header-->
    <!--header-bottom-->
    <div class="header-bottom">
        <div class="container">
            <!--top-nav-->
            <div class="top-nav cl-effect-5">
                <span class="menu-icon"><img src="~/Images/menu-icon.png" alt="" /></span>
                <ul class="nav1">
                    <li>
                        <a href="~/Home/Index/">
                            <span data-hover="Home">Home</span>
                        </a>
                    </li>
                    <li>
                        <a href="~/Home/About/">
                            <span class="" data-hover="About">About</span>
                        </a>
                    </li>
                    <li class="has-submenu">
                        <a href="">
                            <span data-hover="Appointment">Appointment</span>
                        </a>
                        <ul class="sub-menu">
                            <li>
                                <a href="@Url.Action("SearchSchedule", "GetAppointment")">
                                    <span data-hover="Book Appointment">Book&nbsp;Appointment</span>
                                </a>
                            </li>
                            <li>
                                <a href="@Url.Action("FindAppointment", "GetAppointment", new { WantCancelling = false })">
                                    <span data-hover="Cancel Appointment">Cancel&nbsp;Appointment</span>
                                </a>
                            </li>
                            <li>
                                <a href="@Url.Action("FindAppointment", "GetAppointment", new { WantCancelling = true })">
                                    <span data-hover="Reschedule Appointment">Reschedule&nbsp;Appointment</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="~/Home/Contact/">
                            <span class="" data-hover="Contact Us">Contact Us</span>
                        </a>
                    </li>
                    <li>
                        @if (Request.IsAuthenticated)
                        {
                            using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logOffForm" }))
                            {
                                @Html.AntiForgeryToken()
                                <a href="#" id="btnLogOff">
                                    <span class="" data-hover="LogOff" contenteditable="false">LogOff</span>
                                </a>
                            }
                        }
                        else
                        {
                            <a href="@Url.Action("LogIn", "Account", new { returnUrl = "" })">
                                <span class="" data-hover="LogIn" contenteditable="false">LogIn</span>
                            </a>
                        }
                    </li>
                </ul>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <!--//header-bottom-->
    <!--render-body-->
    <section>
        @RenderBody()
    </section>
    <!--//render-body-->
    <!--footer-->
    <footer>
        <!--footer-bottom-->
        <div class="footer-bottom">
            <div class="container">
                <p>Copyright &copy; 2015 - @DateTime.Now.Year Nazeeran Hospital Info. All rights reserved</p>
            </div>
        </div>
        <!--//footer-bottom-->
    </footer>
    <!--//footer-->

    @Scripts.Render("~/Content/bootstrap_js")
    @Scripts.Render("~/Content/jqueryval")
    @Scripts.Render("~/Content/theme_js")
    @Scripts.Render("~/Content/jquery_ui_js")
    @Scripts.Render("~/Content/animation_js")
    @Scripts.Render("~/Content/custom_js")
    @RenderSection("Scripts", required: false)
    <!--smooth-scrolling-of-move-up-->
    <script type="text/javascript">
        $(document).ready(function () {
            var defaults = {
                containerID: 'toTop', // fading element id
                containerHoverID: 'toTopHover', // fading element hover id
                scrollSpeed: 1200,
                easingType: 'linear'
            };

            $().UItoTop({ easingType: 'easeOutQuart' });

        });
    </script>
    <!--//smooth-scrolling-of-move-up-->

</body>
</html>


<!--
<div class="footer">
    <div class="container">
        <div class="footer-grids row">
            <div class="col-md-4 recent-posts">
                <h4>Our address</h4>
                <p class="adrs">
                    Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius. Claritas est etiam processus dynamicus,
                    facilisi Nam liber tempor cum soluta
                </p>
                <ul>
                    <li>
                        <span></span>Moonshine St. 14/05 Light, Japan
                    </li>
                    <li>
                        <span class="ph-no"></span>+00 (123) 111 11 11
                    </li>
                    <li>
                        <span class="mail"></span>
                        <a href="mailto:redprince007@gmail.com">Khizar Iqbal</a>
                    </li>
                </ul>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>    
-->