﻿
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>@Page.Title</title>
    <link href="~/Content/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/Content/jquery-ui.theme.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/searching.css" rel="stylesheet" />
    <link href="~/Content/pdsa-sidebar.css" rel="stylesheet" />
    <link href="~/Content/pdsa-summary-block.css" rel="stylesheet" />
    <link href="~/Content/pdsa-readme-box.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.css" rel="stylesheet" />
    <link href="~/Content/fullcalendar.css" rel="stylesheet" />
    <link href="~/Content/SweetAlert/sweetalert2.css" rel="stylesheet" />
</head>
<body class="notransition">
    <div class="container">
        <div class="row">
            <header>
                <button id="sidebarToggle" class="glyphicon glyphicon-align-right"></button>
                <a href="#">Nazeeran Clinic Information System</a>
                <div id="top_name"><i class="glyphicon glyphicon-user"></i> Pharmacist</div>
            </header>
        </div>
        <nav class="pdsa-sn-wrapper">
            <ul id="sideNavParent">
                <li class="pdsa-sn-brand">
                    <a href="#" class="visible-sm visible-md visible-lg">
                        <img src="~/Images/logo.png"><p>Nazeeran Clinic</p>
                    </a>
                </li>
                <li class="pdsa-sn-brand1">
                    <a href="#" class="visible-sm visible-md visible-lg">
                        <img src="~/Images/AQIB.png"><p><small>Welcome,</small><br />@User.Identity.Name</p>
                    </a>
                </li>
                <li class="ab">
                    <a href="~/Medicine/Calendar">
                        <span class="visible-sm visible-md visible-lg sidebar-list-text">Dashboard</span>
                        <i class="glyphicon glyphicon-home sidebar-list-img" id="ab1"></i>
                    </a>
                </li>
                <li class="ab">
                    <a href="~/Medicine/ViewPatient">
                        <span class="visible-sm visible-md visible-lg sidebar-list-text">View Prescription</span>
                        <i class="glyphicon glyphicon-info-sign"></i>
                    </a>
                </li>
                <li class="ab">
                    <a href="~/Medicine/Create">
                        <span class="visible-sm visible-md visible-lg sidebar-list-text">Add Medicine</span>
                        <i class="glyphicon glyphicon-plus-sign"></i>
                    </a>
                </li>
                <li class="ab">
                    <a href="~/Medicine/Update">
                        <span class="visible-sm visible-md visible-lg sidebar-list-text">Update Medicine</span>
                        <i class="glyphicon glyphicon-edit"></i>
                    </a>
                </li>
                <li class="ab">
                    <a href="~/Medicine/Display">
                        <span class="visible-sm visible-md visible-lg sidebar-list-text">Medicine Stock</span>
                        <i class="glyphicon glyphicon-list-alt"></i>
                    </a>
                </li>
                <li class="ab">
                    @using (Html.BeginForm("LogOff", "Account", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        <a href="#" id="btnLogOff">
                            <span class="visible-sm visible-md visible-lg sidebar-list-text">Log out</span>
                            <i class="glyphicon glyphicon-log-out"></i>
                        </a>
                    }
                </li>
            </ul>
        </nav>
    </div>

    <div class="container body-content">
        <div class="row" id="top_dash"><i class="fa fa-arrow-circle-o-right"></i> @Page.Title</div>
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Nazeeran Clinic</p>
        </footer>
    </div>

    <script src="~/Scripts/jquery-2.2.1.min.js"></script>
    <script src="~/Scripts/jquery-ui.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/pdsa-common.js"></script>
    <script src="~/Scripts/moment.js"></script>
    <script src="~/Scripts/fullcalendar.min.js"></script>
    <script src="~/Scripts/SweetAlert/sweetalert2.all.js"></script>
    <script src="~/Scripts/Script.js"></script>
    <script src="~/Scripts/medicine.js"></script>
</body>
</html>