﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@Page.Title</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/searching.css" rel="stylesheet" />
    <link href="~/Content/pdsa-sidebar.css" rel="stylesheet" />
    <link href="~/Content/pdsa-summary-block.css" rel="stylesheet" />

    <link href="~/Scripts/jquery-ui.css" rel="stylesheet" />
    <link href="~/Scripts/jquery-ui.theme.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.css" rel="stylesheet" />

    <link href="~/Content/jquery.ui.all.css" rel="stylesheet" />
    <link href="~/Content/fullcalendar.css" rel="stylesheet" />
</head>
<body class="notransition">
    <div class="container">
        <div class="row">
            <header>
                <button id="sidebarToggle" class="glyphicon glyphicon-align-right"></button>
                <a href="#">Nazeeran Clinic Information System</a>
                <div id="top_name"><i class="glyphicon glyphicon-user"></i> Pharmacist</div>
            </header>
        </div>
        <nav class="pdsa-sn-wrapper">
            <ul id="sideNavParent">
                <li class="pdsa-sn-brand">
                    <a href="#" class="visible-sm visible-md visible-lg">
                        <img src="~/Images/logo.png"><p>Nazeeran Clinic</p>
                    </a>
                </li>
                <li class="pdsa-sn-brand1">
                    <a href="#" class="visible-sm visible-md visible-lg">
                        <img src="~/Images/AQIB.png"><p><small>Welcome,</small><br />@User.Identity.Name</p>
                    </a>
                </li>
                <li class="ab">
                    <a href="~/Medicine">
                        <span class="visible-sm visible-md visible-lg sidebar-list-text">Dashboard</span>
                        <i class="glyphicon glyphicon-home sidebar-list-img" id="ab1"></i>
                    </a>
                </li>
                <li class="ab">
                    <a href="~/Medicine/ViewPatient">
                        <span class="visible-sm visible-md visible-lg sidebar-list-text">View Prescription</span>
                        <i class="glyphicon glyphicon-info-sign"></i>
                    </a>
                </li>
                <li class="ab">
                    <a href="~/Medicine/Create">
                        <span class="visible-sm visible-md visible-lg sidebar-list-text">Add Medicine</span>
                        <i class="glyphicon glyphicon-plus-sign"></i>
                    </a>
                </li>
                <li class="ab">
                    <a href="~/Medicine/Update">
                        <span class="visible-sm visible-md visible-lg sidebar-list-text">Update Medicine</span>
                        <i class="glyphicon glyphicon-edit"></i>
                    </a>
                </li>
                <li class="ab">
                    <a href="~/Medicine/Display">
                        <span class="visible-sm visible-md visible-lg sidebar-list-text">Medicine Stock</span>
                        <i class="glyphicon glyphicon-list-alt"></i>
                    </a>
                </li>
                <li class="ab">
                    @using (Html.BeginForm("LogOff", "Account", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        <a href="#" id="btnLogOff">
                            <span class="visible-sm visible-md visible-lg sidebar-list-text">Log out</span>
                            <i class="glyphicon glyphicon-log-out"></i>
                        </a>
                    }
                </li>
            </ul>
        </nav>
    </div>

    <div class="container body-content">
        <div class="row" id="dash"><i class="fa fa-arrow-circle-o-right"></i> Pharmacist Dashboard</div>
        <div class="row">
            <div id="dashbord_set">
                <div class="col-xs-12 col-sm-5 col-md-4">
                    <div class="pdsa-summary-block pdsa-summary-block-primary">
                        <div class="summary-background">
                            <i class="glyphicon glyphicon-globe"></i>
                        </div>
                        @Html.Action("GetExpiredMedicines", "Medicine", null)
                    </div>
                </div>
                <div class="col-xs-12 col-sm-5 col-md-4">
                    <div class="pdsa-summary-block pdsa-summary-block-success">
                        <div class="summary-background">
                            <i class="glyphicon glyphicon-list-alt"></i>
                        </div>
                        @Html.Action("GetQuantityMedicines", "Medicine", null)
                    </div>
                </div>
                <div class="col-xs-12 col-sm-5 col-md-4">
                    <div class="pdsa-summary-block pdsa-summary-block-info">
                        <div class="summary-background">
                            <i class="glyphicon glyphicon-eye-open"></i>
                        </div>
                        <div class="summary-body">
                            <div class="summary-line1"> </div>
                            <div class="summary-line2" id="Searching_name_dash">Search Medicine</div>
                        </div>
                        <div class="summary-footer">
                            <a href="~/Medicine/Display">Searching...<i class="glyphicon glyphicon-chevron-right pull-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Nazeeran Clinic</p>
        </footer>
    </div>

    <script src="~/Scripts/jquery-ui-1.10.4.min.js"></script>
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    @*<script src="~/Scripts/jquery-2.2.1.min.js"></script>*@
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery-ui.js"></script>
    <script src="~/Scripts/moment.js"></script>
    <script src="~/Scripts/fullcalendar.min.js"></script>
    <script src="~/Scripts/pdsa-common.js"></script>
    <script src="~/Scripts/jquery.signalR-2.2.2.js"></script>
    <script src="~/SignalR/hubs"></script>
    @RenderSection("Scripts", required: false)
    <script>
        $(function () {
            var chat = $.connection.chatHub;
            $.connection.hub.start()
                .done(function () {
                    $.connection.chatHub.server.connect().done(function (data) {
                        if (typeof (ManageChat) != "undefined")
                            ManageChat();
                    });
                })
                .fail(function () {
                    console.log("fail");
                });
        });
    </script>
</body>
</html>

