﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>@Page.Title</title>
    <link href="~/Content/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/Content/jquery-ui.theme.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/doctor.css" rel="stylesheet" />
    <link href="~/Content/pdsa-sidebar.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.css" rel="stylesheet" />
    <link href="~/Content/SweetAlert/sweet-alert.css" rel="stylesheet" />
</head>
<body class="notransition">
    <div class="container">
        <div class="row">
            <header>
                <button id="sidebarToggle" class="glyphicon glyphicon-align-right"></button>
                <a href="#">Nazeeran Clinic Information System</a>
                <div id="top_name"><i class="glyphicon glyphicon-user"></i> Laboratorists</div>
            </header>
        </div>
        <nav class="pdsa-sn-wrapper">
            <ul id="sideNavParent">
                <li class="pdsa-sn-brand">
                    <a href="#" class="visible-sm visible-md visible-lg">
                        <img src="~/Images/logo.png"><p>Nazeeran Clinic</p>
                    </a>
                </li>
                <li class="pdsa-sn-brand1">
                    <a href="#" class="visible-sm visible-md visible-lg">
                        <img src="~/Images/AQIB.png"><p><small>Welcome,</small><br />Laboratorists</p>
                    </a>
                </li>
                <li class="ab">
                    <a href="Lab">
                        <span class="visible-sm visible-md visible-lg sidebar-list-text">View Lab Test</span>
                        <i class="glyphicon glyphicon-info-sign"></i>
                    </a>
                </li>
                <li class="ab">
                    <a href="@Url.Action("Index", "ChatRoom")">
                        <span class="visible-sm visible-md visible-lg sidebar-list-text">Chat Room</span>
                        <i class="glyphicon glyphicon-home sidebar-list-img" id="ab1"></i>
                    </a>
                </li>
                <li class="ab">
                    @using (Html.BeginForm("LogOff", "Account", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        <a href="#" id="btnLogOff">
                            <span class="visible-sm visible-md visible-lg sidebar-list-text">Log out</span>
                            <i class="glyphicon glyphicon-log-out"></i>
                        </a>
                    }
                </li>
            </ul>
        </nav>
    </div>

    <div class="container body-content">
        <div class="row" id="top_dash"><i class="fa fa-arrow-circle-o-right"></i> @Page.Title</div>
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Nazeeran Hospital</p>
        </footer>
    </div>
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery-ui.js"></script>
    <script src="~/Scripts/SweetAlert/sweet-alert.js"></script>
    <script src="~/Scripts/doctor.js"></script>
    <script src="~/Scripts/search.js"></script>
    <script src="~/Scripts/jquery.signalR-2.2.2.js"></script>
    <script src="~/SignalR/hubs"></script>
    @RenderSection("Scripts", required: false)
    <script>
        $(function () {
            var chat = $.connection.chatHub;
            $.connection.hub.start()
                .done(function () {
                    $.connection.chatHub.server.connect().done(function (data) {
                        if (typeof (ManageChat) != "undefined")
                            ManageChat();
                    });
                })
                .fail(function () {
                    console.log("fail");
                });
        });
    </script>
</body>
</html>
